<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>	La Rueda</title>
        <link rel="stylesheet" type="text/css" href="../css/estilos.css">
        <link rel="stylesheet" type="text/css" href="../css/estilos-centro-serv.css">
        <link rel="stylesheet" type="text/css" href="../css/estilos-serv.css">
        <link rel="stylesheet" type="text/css" href="../css/estilos-serv-interna.css">
        
</head>
    

<body>
       
    <div class="remodal-bg remodal-is-closed">
        
        <div id="cuerpo-internas">
             <div class="u-centrar">
                  <div class="cont-gen-titulos-internas">
                      <div class="titulos-internas">nuestros <span>SERVICIOS</span></div>
                  </div>
                
                <div class="cont_gen_pestanas_serv">
                    
                    <div class="btn_pestana_serv active" id="btn_auto">
                        Automovil
                    </div>
                    <div class="btn_pestana_serv" id="btn_taxi">
                        taxi
                    </div>
                    <div class="btn_pestana_serv" id="btn_camion">
                        camion
                    </div>
                    
                </div>
                           
                <section id="cont_gen_serv-interna">
                    
                    <div id="cont_info_serv_interna">
                        
                        <div id="cont_titulo_serv_interna">
                            <div id="icon_tit_serv_interna">
                                <img src="../images/diseno/02-servicios/alineacion.png"/>
                            </div>
                            <div id="tit_serv_interna">Alineación</div>
                        </div>
                        
                        <div id="txt_serv_interna">
                            Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer.
                        </div>
                        
                        <div id="cont_cent_serv_serv_int">
                            Centros de servicio
                        </div>
                        <div id="cont_selec_cent_serv_int">
                           
                              <div class="cont-select-servicios">
                                    PPSierra Cll 116 # 70F - 16
                                    <div class="despleg-selec-serv">
                                        <div class="servicio-centro">PPSierra Cll 116 # 70F - 16</div>
                                        <div class="servicio-centro">PPSierra Cll 116 # 70F - 16</div>
                                        <div class="servicio-centro">PPSierra Cll 116 # 70F - 16</div>
                                        <div class="servicio-centro">PPSierra Cll 116 # 70F - 16</div>
                                        <div class="servicio-centro">PPSierra Cll 116 # 70F - 16</div>
                                    </div>
                              </div>
                           
                        </div>
                        
                    </div>
                    
                    <div class="AsideMenu">
                      <ul id="tabsNav" class="Tabs">
                        <li class="Tabs-item"><a data-tab="tab_one" class="Tabs-itemLink Tabs--is-selected">	LLANTAS</a></li>
                        <li class="Tabs-item"><a data-tab="tab_two" class="Tabs-itemLink">	BATERÍA</a></li>
                      </ul>
                      <div id="content" class="Tabs-content">
                        <div id="tab_one" class="Tabs-contentPane Tabs--is-active">
                          <div class="FiltroLlantas">
                            <form class="FiltroLlantas-form">
                              <label class="FiltroLlantas-label">	Buscar por llantas</label>
                              <div class="select">
                                <select name="marca" class="FiltroLlantas-select">
                                  <option value="" class="FiltroLlantas-option">	MARCA</option>
                                  <option value="Michelin" class="FiltroLlantas-option">	Michelin</option>
                                  <option value="Goodyear" class="FiltroLlantas-option">	Goodyear</option>
                                  <option value="Llantabien" class="FiltroLlantas-option">	Llantabien</option>
                                </select>
                              </div>
                              <div class="select">
                                <select name="modelo" class="FiltroLlantas-select">
                                  <option value="" class="FiltroLlantas-option">	MODELO</option>
                                  <option value="LOREM" class="FiltroLlantas-option">	LOREM</option>
                                  <option value="IMPSUM" class="FiltroLlantas-option">	IMPSUM</option>
                                  <option value="ALGO" class="FiltroLlantas-option">	ALGO</option>
                                </select>
                              </div>
                              <div class="select">
                                <select name="linea" class="FiltroLlantas-select">
                                  <option value="" class="FiltroLlantas-option">	LÍNEA</option>
                                  <option value="Grande" class="FiltroLlantas-option">	Grande</option>
                                  <option value="Mediana" class="FiltroLlantas-option">	Mediana</option>
                                  <option value="Pequeña" class="FiltroLlantas-option">	Pequeña</option>
                                </select>
                              </div><a href="" class="FiltroLlantas-button"><span class="FiltroLlantas-buttonText">	VER RESULTADOS</span><span class="icon-chevron-thin-right FiltroLlantas-buttonIcon"></span></a>
                            </form>
                            
                          </div>
                        </div>
                        <div id="tab_two" class="Tabs-contentPane">
                          <div class="FiltroLlantas">
                            <form class="FiltroLlantas-form">
                              <label class="FiltroLlantas-label">	Buscar bateria</label>
                              <div class="select">
                                <select name="marca" class="FiltroLlantas-select">
                                  <option value="" class="FiltroLlantas-option">	MARCA</option>
                                  <option value="Eveready" class="FiltroLlantas-option">	Eveready</option>
                                  <option value="Duracell" class="FiltroLlantas-option">	Duracell</option>
                                  <option value="Taxi Full" class="FiltroLlantas-option">	Taxi Full</option>
                                </select>
                              </div>
                              <div class="select">
                                <select name="modelo" class="FiltroLlantas-select">
                                  <option value="" class="FiltroLlantas-option">	VOLTAJE</option>
                                  <option value="12v" class="FiltroLlantas-option">	12v</option>
                                  <option value="8v" class="FiltroLlantas-option">	8v</option>
                                  <option value="7v" class="FiltroLlantas-option">	7v</option>
                                </select>
                              </div>
                              <div class="select">
                                <select name="linea" class="FiltroLlantas-select">
                                  <option value="" class="FiltroLlantas-option">	TIPO</option>
                                  <option value="Auto" class="FiltroLlantas-option">	Auto</option>
                                  <option value="Taxi" class="FiltroLlantas-option">	Taxi</option>
                                  <option value="Camion" class="FiltroLlantas-option">	Camión</option>
                                </select>
                              </div><a href="" class="FiltroLlantas-button"><span class="FiltroLlantas-buttonText">	VER RESULTADOS</span><span class="icon-chevron-thin-right FiltroLlantas-buttonIcon"></span></a>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                </section> 
                
                <section id="cont_gen_forms">
                    
                    <div class="con_forms">
                        
                        <div class="titulos_forms">
                            <span>Otros</span> servicios
                        </div>
                        
                        <form class="forms">
                            <input type="text" class="campo_forms" placeholder="Nombre"/>
                            <input type="text" class="campo_forms" placeholder="Email"/>
                            <input type="text" class="campo_forms" placeholder="Tel. / Cel."/>
                            <textarea class="area_forms" placeholder="Nombre"></textarea>
                            
                            <div class="cont_btn_enviar_forms">
                                <input type="submit" value="Enviar"/>
                            </div>   
                            
                        </form>
                        
                    </div>
                    
                    <div id="img_forms">
                        <img src="../images/diseno/02-servicios/img_form.jpg">
                    </div>
                    
                </section>                    
                
                <div class="cont-gen-titulos-internas">
                      <div class="titulos-internas">más <span>SERVICIOS</span></div>
                  </div>
                  
                  <section class="cont_gen_servicios otros" id="cont_camion">
                    
                    
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/reparacion_llantas.png"/>
                            </div>
                            <div class="nombre_serv">Reparación de llantas</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Reparación de llantas</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/alineacion.png"/>
                            </div>
                            <div class="nombre_serv">Alineación</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Alineación</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/balanceo.png"/>
                            </div>
                            <div class="nombre_serv">Balanceo</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Balanceo</div>
                        </div>
                    </a>
                 </section>
                  
            </div> 
        </div>   
              
      <div class="Chat">
          <a href="" class="Chat-button">
              <span class="Chat-icon icon-chat"></span>
              <span class="Chat-text">	CHAT ONLINE</span>
           </a>
        </div>
    </div>
    
    <script type="text/javascript" src="../js/app.js"></script>
    <script text="" javascript="" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="../js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="../js/functions.js"></script>
  
    <script>//<![CDATA[
    document.write('<script src="//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1"><\/script>')
    //]]></script><script src="//192.168.1.154:35729/livereload.js?snipver=1"></script>
           
          
</body>
</html>




