
#cont_agregado {
    width: 600px;
    height: 400px;
    display: inline-block;
    text-align: center;
}

.icon_agregado {
    width: 100%;
    text-align: center;
    margin: 40px 0 0 0;
}

#txt_agregado {
    width: 80%;
    display: inline-block;
    font-size: 39px;
    color: #262626;
}

#btn_agregado {
    width: 152px;
    padding: 10px 0;
    background: #f5a118;
    font-size: 24px;
    color: #fff;
    margin: 30px 0 0 0;
    display: inline-block;
    cursor: pointer;
}

/*tamaño ventana modal agregado cotizador*/
@media only screen and (min-width: 641px)
    div[data-remodal-id="modalAgregado"]{
        max-width: 742px;
    }