div.FiltroLlantas
	form.FiltroLlantas-form
		label.FiltroLlantas-label
			|	Buscar bateria
		div.select
			select.FiltroLlantas-select(name="marca")
				option.FiltroLlantas-option(value="")
					|	MARCA
				option.FiltroLlantas-option(value="Eveready")
					|	Eveready
				option.FiltroLlantas-option(value="Duracell")
					|	Duracell
				option.FiltroLlantas-option(value="Taxi Full")
					|	Taxi Full
		div.select
			select.FiltroLlantas-select(name="modelo")
				option.FiltroLlantas-option(value="")
					|	VOLTAJE
				option.FiltroLlantas-option(value="12v")
					|	12v
				option.FiltroLlantas-option(value="8v")
					|	8v
				option.FiltroLlantas-option(value="7v")
					|	7v
		div.select
			select.FiltroLlantas-select(name="linea")
				option.FiltroLlantas-option(value="")
					|	TIPO
				option.FiltroLlantas-option(value="Auto")
					|	Auto
				option.FiltroLlantas-option(value="Taxi")
					|	Taxi
				option.FiltroLlantas-option(value="Camion")
					|	Camión
		a.FiltroLlantas-button(href="")
			|	VER RESULTADOS