section.Llantas2
	div.Llantas2-titleContainer
		h1.Llantas2-title
			|	LLANTAS
		div.Llantas2-borde
	//- include ../FiltroLlantas2/template.jade
	section.Llantas-SubInfo
		div.u-centrar
			div.Llantas-float
				//- div.Llantas-aside
				include ../AsideMenu/template.jade
				div.Llantas-info
					div.Llantas-LineasTitleContainer
						h4.Llantas-LineasTitle
							|	LÍNEAS DE PRODUCTO
						div.Llantas-LineasTitleborde
					div.LineasProd-list.Llantas-Lineas
						a(href="#")
							figure.LineasProd-imageContainer
								img.LineasProd-image(src="../images/auto.jpg")
								div.LineasProd-shadow
									div.LineasProd-shadowText
										span.LineasProd-button
											span.LineasProd-buttonText
												|	AUTOMÓVIL Y CAMIONETA
											span.icon-chevron-thin-right.LineasProd-buttonIcon
						a(href="#")
							figure.LineasProd-imageContainer
								img.LineasProd-image(src="../images/camion.jpg")
								div.LineasProd-shadow
									div.LineasProd-shadowText
										span.LineasProd-button
											span.LineasProd-buttonText
												|	TRANSPORTE
											span.icon-chevron-thin-right.LineasProd-buttonIcon
					div.Llantas-promoBanner
						img(src="http://lorempixel.com/1024/290/transport")