#cuerpo-internas
  .u-centrar
    .cont-gen-titulos-internas
      .titulos-internas
        span CONSEJOS ÚTILES
    #cont_top_noticia
      #img_noticia
        img(src='../images/diseno/05-novedades/2.jpg')
      #cont_tit_txt_nov
        #titulo_noticia Lorem Ipsum es simplemente el texto de relleno
        #txt_novticia
          | Llanta que permite el reencauche gracias a su sólida estructura de Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño donde esta establecido hace demasiado tiempo es un hecho establecido hace demasiado tiempo que un lector.
          | Se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos.
    .cont_txts_noticia
      | Llanta que permite el reencauche gracias a su sólida estructura de es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño donde esta establecido hace demasiado tiempo es un hecho establecido hace demasiado tiempo que un lector.
      | Se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos.
    .cont_txts_noticia
      | Llanta que permite el reencauche gracias a su sólida estructura de Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño donde esta establecido hace demasiado tiempo es un hecho establecido hace demasiado.
    #cont_Gen_compartir_not
      a.btn_compartir.bc_fb(href='') facebook
      a.btn_compartir.bc_tw(href='') Twitter
      a.btn_compartir.bc_gp(href='') Google
    .cont-gen-titulos-internas
      .titulos-internas
        span OTROS CONSEJOS
    .cont_gen_otras_not.Consejos-list
      - for (var x = 0; x < 4; x++)
        a.cont_otra_not.Consejos-item(href='')
          .img_otra_not.Consejos-image
            img(src='../images/diseno/05-novedades/min1.jpg')
          .txt_otra_not.Consejos-text
            | Llanta que permite el reencauche gracias a su sólida estructura de cinturones reforzados y su cascara robusta
          span.Consejos-button
            span.Consejos-buttonText
              | VER MÁS
            span.Consejos-buttonIcon.icon-chevron-thin-right