div.Llantas2-itemContainer
	div.Llantas2-item
		figure.Llantas2-imageContainer
			img.Llantas2-image(src="../images/llanta.png")
		div.Llantas2-itemBorde
		h4.Llantas2-itemTitle
			|	HSC
		p.Llantas2-itemDescription
			|	Llanta que permite el reencauche gracias a su sólida estructura de cinturones reforzados y su cascara robusta
		h3.Llantas2-marca
			|	GENERAL TIRE
		div.Llantas2-shadow
			a.Llantas2-shadowButton1(href="llantas_3.html")
				span.Llantas2-shadowButtonText
					|	VER DETALLES
				span.Llantas2-shadowButtonIcon.icon-chevron-thin-right
			a.Llantas2-shadowButton2(href="#modalCaract")
				span.Llantas2-shadowButtonText
					|	VISTA RAPIDA
				span.Llantas2-shadowButtonIcon.icon-chevron-thin-right
	a.Llantas2-button(href="cotizador.html")
		span.Llantas2-buttonText
			|	COTIZAR...
		span.Llantas2-buttonIcon.icon-chevron-thin-right