/*MAINMENU*/

.MainMenu
	line-height 1.2em
	display inline-block
	width 100%
	&-list
		background-color $full_black		
		list-style none		
		margin 0
		// margin-top 1em
		padding 0		
		transition height .3s ease		
		height 0
		overflow-x hidden
		overflow-y scroll
		position fixed
		top 3em
		left 0
		right 0
		
		&--show
			height 90%
	&-item
		box-sizing border-box	

			
	&-link
		font-size 1.06em
		color $white
		padding 1.5em
		display block
		text-transform uppercase
		transition all .3s ease
		&:hover
			color $yellow
			.MainMenu-item
				border-bottom 2px solid $yellow
	&--footer
		display none

/*Tablet*/
@media (min-width: 768px)
	.MainMenu
		width 76%
		float right
		
		&-list
			position relative
			overflow hidden
			height auto
			float right
			top 0
			right 0
		&-item
			display inline-block
		&-link
			display inline-block
			
		&--footer
			display inline-block
			float left
			width 200px
			margin 1em
			
		&-list--footer
			list-style none
			text-align left
			padding 0
		&-item--footer
			margin 0.75em 0
		&-link--footer
			color $white
			font-weight 300
			font-size 1.01em