nav(class="MainMenu")
	ul#menu.MainMenu-list
		- var menuData = [{"url":"centros_serv.html","description":"Centros de Servicio"},{"url":"servicios.html","description":"Servicios"},{"url":"llantas.html","description":"Llantas"},{"url":"aceites.html","description":"Aceites"},{"url":"novedades.html","description":"Novedades - Tips"},{"url":"consejos.html","description":"Consejos Útiles"},{"url":"contacto.html","description":"Contáctanos"}]
		each val in menuData
			include ../MainMenu-item/template.jade