nav(class="MainMenu")
	ul#menu.MainMenu-list
		- var menuData = [{"url":"medio.html","description":"Centros de Servicio"},{"url":"medio.html","description":"Servicios"},{"url":"llantas.html","description":"Llantas"},{"url":"medio.html","description":"Aceites"},{"url":"medio.html","description":"Novedades - Tips"},{"url":"medio.html","description":"Consejos Útiles"},{"url":"medio.html","description":"Contacto"}]
		each val in menuData
			include ../MainMenu-item/template.jade