/*DESTACADOS*/

.Destacados
	margin 1em 0	
	display inline-block
	width 100%
	&-fondo
		background-image url('../images/fondo.png')
		background-size cover
	&-TitleContainer
		display inline-block
		max-width 357px
	&-title
		font-weight 400
		font-size 2.56em
		margin 0
		display inline-block
	&-borde
		width 100%
		height 3px
		background-color $light_gray
		display inline-block		
	&-list
		width 100%
		max-width 1480px
		float left
	&-itemContainer
		position relative
		display inline-block
		width 100%
	&-item
		background-color rgba(255,255,255,.70)
		max-width 388px
		height 609px
		position relative
		display inline-block
		box-shadow 5px 5px 10px rgba(0,0,0,0.1)
		margin 1em
	&-itemTitle
		font-weight 400
		font-size 2.56em
		margin 0
	&-itemBorde
		width 357px
		height 3px
		background-color $light_gray
		display inline-block
	&-itemDescription
		font-weight 300
		font-size 1.43em
		text-align left
		color $dark_gray4
		margin .5em
	&-imageContainer
		border 1px solid $light_gray
		width 364px
		height 370px
		margin .5em
	&-button
		color $white
		background-color $yellow
		font-weight 300
		font-size 1.5em
		position absolute
		bottom 0
		left 0
		right 0
		width 170px
		padding .3em
		margin 0 auto		
	&-buttonIcon
		margin-left .5em
	&-shadow
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background-color transparent
		text-align center
		transition all 1s ease

		&:hover
			background-color $transparencia
			.Destacados-shadowButton
				display inline-block

	&-shadowButton
		display none
		padding .3em 1.2em
		font-weight 400
		font-size 1.69em
		color $white
		border 2px solid $yellow
		position absolute
		top 50%
		left 20%

/*Tablet*/
@media (min-width: 1270px)
	.Destacados
		&-TitleContainer
			width 357px
			
/*Estilos Botones Carrusel*/

.Destacados-list.owl-carousel.owl-theme .owl-controls.clickable
	// position absolute
	// bottom 50%
	// left 0
	// right 0
	margin 0 auto
	max-width 1480px
	// z-index 2
	
.Destacados-list.owl-carousel.owl-theme .owl-controls.clickable .owl-buttons div
	width 50px
	height 50px
	line-height 50px
	padding 7px
	background-color transparent
	font-size 3.5em
	text-align center
	color $yellow

.Destacados-list.owl-carousel.owl-theme .owl-controls.clickable .owl-buttons .owl-prev
.Destacados-list.owl-carousel.owl-theme .owl-controls.clickable .owl-buttons .owl-next
	position absolute
	bottom 50%

.Destacados-list.owl-carousel.owl-theme .owl-controls.clickable .owl-buttons .owl-prev
	float left
	left 0

.Destacados-list.owl-carousel.owl-theme .owl-controls.clickable .owl-buttons .owl-next
	float right
	right 0