section.Destacados
	div.u-title
		div.Destacados-TitleContainer
			h3.Destacados-title
				|	DESTACADOS
			div.Destacados-borde
	div.Destacados-list.owl-carousel
		- for (var x = 0; x < 7; x++)
			div.Destacados-itemContainer
				div.Destacados-item
					h4.Destacados-itemTitle
						|	HSC
					div.Destacados-itemBorde
					p.Destacados-itemDescription
						|	Llanta que permite el reencauche gracias a su sólida estructura de cinturones reforzados y su cascara robusta
					figure.Destacados-imageContainer
						img.Destacados-image(src="../images/ExtremeContact-DW.png")
					div.Destacados-marcaContainer
						img.Destacados-marcaImg(src="../images/llantas_2/general.jpg")
					div.Destacados-shadow
						a.Destacados-shadowButton(href="#modalCaract")
							span.Destacados-shadowButtonText
								|	VER DETALLES
							span.Destacados-shadowButtonIcon.icon-chevron-thin-right
				a.Destacados-button(href="llantas_2.html")
					span.Destacados-buttonText
						|	VER MÁS
					span.Destacados-buttonIcon.icon-chevron-thin-right