section.Destacados
	h3.Destacados-title
		|	DESTACADOS
	div.Destacados-borde
	div.Destacados-list
		div.Destacados-item
			h4.Destacados-itemTitle
				|	HSC
			div.Destacados-itemBorde
			p.Destacados-itemDescription
				|	Llanta que permite el reencauche gracias a su sólida estructura de cinturones reforzados y su cascara robusta
			figure.Destacados-imageContainer
				img.Destacados-image(src="../images/llanta.png")
			a.Destacados-button
				span.Destacados-buttonText
					|	VER MÁS
				span.Destacados-buttonIcon.icon-chevron-thin-right