section.LineasProd
	h3.LineasProd-title
		|	LÍNEAS DE PRODUCTO
	div.LineasProd-borde
	div.LineasProd-list

		figure.LineasProd-imageContainer
			img.LineasProd-image(src="../images/auto.jpg")
			div.LineasProd-shadow
				div.LineasProd-shadowText
					a.LineasProd-button(href="#")
						span.LineasProd-buttonText
							|	AUTOMÓVIL
						span.icon-chevron-thin-right.LineasProd-buttonIcon

		figure.LineasProd-imageContainer
			img.LineasProd-image(src="../images/taxi.jpg")
			div.LineasProd-shadow
				div.LineasProd-shadowText
					a.LineasProd-button(href="#")
						span.LineasProd-buttonText
							|	TAXI
						span.icon-chevron-thin-right.LineasProd-buttonIcon

		figure.LineasProd-imageContainer
			img.LineasProd-image(src="../images/camion.jpg")
			div.LineasProd-shadow
				div.LineasProd-shadowText
					a.LineasProd-button(href="#")
						span.LineasProd-buttonText
							|	CAMION
						span.icon-chevron-thin-right.LineasProd-buttonIcon