#cont_general_redes {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 8;
    text-align: center;

.btn_red {
    width: auto;
    height: auto;
    float: right;
    font-family: 'icomoon';
    font-size: 18px;
    color: #FFF;