/*REDES MENU FIXED*/
.Redes
	display none

/*REDESMENU (el del footer)*/
.RedesMenu
	&--footer
		display inline-block
	&-list--footer
		list-style none
		padding 0
	&-item--footer
		margin 0.75em .5em
		border-bottom 1px dotted $yellow
		display inline-block
	&-link--footer
		color $yellow 

/*Tablet*/
@media (min-width: 768px)
	.Redes
		width 375px
		display inline-block
		position fixed
		right 143px
		bottom 0
		z-index 11
		&-Button
			width 56px
			height 56px
			float right
			cursor pointer
		&-desplegable
			width 316px
			display none
			float left
			
		&-link
			width 40px
			height 40px
			display inline-block
			background-color $yellow
			color $white
			text-align center
			font-size 1.6em
			margin .3em
			padding 0 .1em
			border-radius 50%
		&-icons
			&.icon-google-plus
				font-size 1.4rem
			&.icon-blogger
				font-size 1.2rem

	.RedesMenu
		&--footer
			display inline-block
			float right
			width 200px
			margin 1em
		&-list--footer
			text-align left
		&-item--footer
			margin 0.75em 0
			width 151px
		&-link--footer
			font-weight 300
			font-size 1.02em
			padding .3em 0
			display block
		&--footerIcons
			margin-right 1em
			&.icon-google-plus
				margin-right .7em
/*Desktop*/
@media (min-width: 1100px)	
	.RedesMenu
		&--footer		
			float right
/*Desktop*/
@media (min-width: 1520px)
	.Redes
		display inline-block
		position fixed
		left 10px
		top 40%
		z-index 11
		width 46px
		height 250px
		
		&-desplegable
			width 50px
			display inline-block !important
		
		&-link
			display block
			margin .3em 0
			
		&-Button
			display none
	.RedesMenu
		&--footer		
			float right