div(id="cont_general_redes")
    a(href="", class="btn_red btr_in", target="_blank")
    a(href="", class="btn_red btr_in", target="_blank")
    a(href="", class="btn_red btr_in", target="_blank")
    a(href="", class="btn_red btr_in", target="_blank")
    a(href="", class="btn_red btr_in", target="_blank")