div.Redes
	div.Redes-desplegable
		a.Redes-link(href='')
			span.icon-facebook.Redes-icons
		a.Redes-link(href='')
			span.icon-twitter.Redes-icons
		a.Redes-link(href='')
			span.icon-google-plus.Redes-icons
		a.Redes-link(href='')
			span.icon-rss.Redes-icons
		a.Redes-link(href='')
			span.icon-blogger.Redes-icons
	a.Redes-Button#mostrarSocial(href='')
		img.Redes-ButtonImage(src="../images/redes.jpg")