footer.Footer
	div.Footer-white
		h2.Footer-title
			|	NUESTRAS
			span.Footer-regular
				|	MARCAS
		div.Footer-border
		figure.Footer-marca
			img.Footer-marcaImage(src="../images/continental-logo.png")
		figure.Footer-marca
			img.Footer-marcaImage(src="../images/generaltire-logo.png")
		figure.Footer-marca
			img.Footer-marcaImage(src="../images/barum-logo.png")
	div.Footer-black