/*COTIZADOR*/

.Cotizador
	&-titleContainer
		display inline-block
		margin-top 2.5em
		vertical-align top
	&-title
		font-weight 400
		font-size 2.56em
		color $full_black
		margin 0
	&-borde
		width 245px
		height 3px
		background-color $light_gray
		display inline-block
	&-selectContainer
		background $white url("../images/diseno/02-servicios/flecha_negra.png") no-repeat 95% center
		float left
		width 100%
		margin 20px 0 0 0
	&-select
		border none
		box-shadow none
		background-color transparent
		background-image none
		appearance none
		width 100%		
		font-size 24px
		box-sizing border-box
		padding 8px 5%	
	&-checkContainer
		text-align left
		border none
		padding 0
		margin 20px 0 0 0
		// float left
		display inline-block
		width 100%
	&-check
		appearance none
		border 1px solid $gray
		width 25px
		height 25px
		vertical-align top
		&:checked
			background-color $yellow
	&-label		
		font-weight 400
		font-size 1.12em
		color $gray
		margin-left 5%
		display inline-block
		max-width 80%
		// max-width 220px
			
	&-Enviar
		display inline-block
		width 100%
		margin-top 20px
		
	&-contacto
		// float left
		// margin 45px 0 0 0
		margin 10px
		font-weight 400
		font-size 1.5em
		color $gray2
		width 233px
		display inline-block
		vertical-align middle
	&-contactoBold
		font-weight 700		
		color $gray2
	/*Mail*/
	&-contactoMail
		display inline-block
		width 100%
		font-weight 400
		font-size 1.12rem
		color $gray
	/*boton enviar*/
	&-contacto_enviar
		width 254px
		// float right
		border 1px solid $yellow
		position relative
		// margin 40px 0 0
		margin 10px
		display inline-block
		vertical-align middle
		&:after
			content ""
			float right
			width 69px
			height 60px
			background url(../images/diseno/02-servicios/flecha_negra.png) no-repeat 50% #f5a118
		& input
			width 100%
			float left
			font-size 28px
			height 60px
			background transparent
			border none
			border-right 69px solid transparent
			position absolute
			top 0
			left 0
			box-sizing border-box
			transition all .3s
			&:hover
				background $yellow

@media (min-width: 768px)
	.Cotizador
		&-contacto
			margin 10px 5px 10px 0
		&-contacto_enviar
			margin 10px 0 10px 5px
@media (min-width: 1024px)
	.Cotizador
		&-contacto
			font-size 1.3em			
		&-contacto_enviar
			width 176px
// 		&-label
// 			max-width 260px

// @media (min-width: 963px)
// 	.Cotizador
// 		&-label	
// 			max-width 300px
/*Desktop*/
@media (min-width: 1100px)
	.Cotizador
		margin-top 120px
		// &-label
		// 	margin-left 1em
		// 	max-width 545px
		&-Enviar
			margin-top 45px
		
@media (min-width: 1280px)
	.Cotizador
		&-contacto
			font-size 1.5em
		&-contacto_enviar
			width 254px