section.Cotizador
	div.Llantas2-titleContainer
		h1.Llantas2-title
			|	COTIZADOR
		div.Llantas2-borde
	//- div.Cotizador-titleContainer
	//- 	h1.Cotizador-title
	//- 		|	COTIZADOR
	//- 	div.Cotizador-borde
	section#cont_gen_forms
		.con_forms
			form.forms
				input.campo_forms(type='text', placeholder='Nombre')
				input.campo_forms(type='text', placeholder='Email')
				input.campo_forms(type='text', placeholder='Tel. / Cel.')
				div.Cotizador-selectContainer
					select.Cotizador-select(name="modelo")
						option.Cotizador-option(value="")
							|	Línea
						option.Cotizador-option(value="LOREM")
							|	LOREM
						option.Cotizador-option(value="IMPSUM")
							|	IMPSUM
						option.Cotizador-option(value="ALGO")
							|	ALGO
				textarea.area_forms(placeholder='Comentarios')
				fieldset.Cotizador-checkContainer
					input.Cotizador-check(type='checkbox',value='autoriza', id="check1")
					label.Cotizador-label(for="check1")
						|	Autorizo llanta Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores placeat vero, doloremque.
				h5.Cotizador-contacto
					|	Comunícate
					span.Cotizador-contactoBold
						|	 311 5416067
				.cont_btn_enviar_forms
					input(type='submit', value='ENVIAR')
		#img_forms
			img(src='../images/camion2.jpg')
	.cont-gen-titulos-internas
		.titulos-internas
			|	otros 
			span SERVICIOS
	section#cont_camion.cont_gen_servicios.otros
		a.cont_gen_serv(href='servicios_interna.html')
			img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
			.cont_nombre_serv
				.icon_serv
					img(src='../images/diseno/02-servicios/reparacion_llantas.png')
				.nombre_serv Reparación de llantas
			.hover_serv
				.ver_serv VER MÁS
				.nombre_serv Reparación de llantas
		a.cont_gen_serv(href='servicios_interna.html')
			img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
			.cont_nombre_serv
				.icon_serv
					img(src='../images/diseno/02-servicios/alineacion.png')
				.nombre_serv Alineación
			.hover_serv
				.ver_serv VER MÁS
				.nombre_serv Alineación
		a.cont_gen_serv(href='servicios_interna.html')
			img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
			.cont_nombre_serv
				.icon_serv
					img(src='../images/diseno/02-servicios/balanceo.png')
				.nombre_serv Balanceo
			.hover_serv
				.ver_serv VER MÁS
				.nombre_serv Balanceo