/*LLANTAS*/
.Llantas
	&-imageContainer
		margin 0
		text-align center
	&-image
		display none
	&-sobreIm
		position relative
		left 0
		right 0
		width 100%
		overflow visible
	&-titleContainer
		display inline-block
	&-title
		color $dark_gray5
		font-weight 400
		font-size 2.56em
		margin 2.5em 0 .3em
		line-height 1rem
	&-borde
		width 245px
		height 3px
		background-color $light_gray
		display inline-block
	&-containerText
		display inline-block
		position relative		
		background-color $full_black
		color $white
		border 1px solid $dark_gray5
		width 95%
		text-align center		
	&-containerTextMobil
		display none
	&-containerLight
		font-weight 300
		font-size 1.7em
		margin 1em 0 0
	&-containerBold
		font-weight 700
		font-size 1.7em
		margin 0 1em .4em
	&-bordeFull
		display inline-block
		width 100%
		height 3px
		background-color $dark_gray5
		margin-bottom .5em
	&-info
		margin-top 20px
		display inline-block		
	&-redBox
		background-color $red
		font-weight 700
		font-size 2.56em
		display inline-block
		width 110px
		height 80px
		vertical-align middle
		color $white
		line-height 80px
		position relative
		&:before
			content ""
			border-style solid
			border-width 9px 0 0 25px
			border-color transparent transparent transparent #7f0000
			position absolute
			right 0
			top -9px
	&-porce
		font-weight 700
		font-size 2.56em
		color $white
		margin 0
	&-descuento
		font-weight 700
		font-size 3.06em
		color $dark_black
		display inline-block
		margin .5em .5em 0
		vertical-align middle
	&-descrip
		font-weight 300
		font-size 1.56em
		color $dark_black
		display inline-block
		max-width 340px
		margin-bottom 1em
		vertical-align middle
	&-SubInfo
		display block
		width 100%
		
	&-promoBanner
		display none
		width 100%		
		background-color $full_black
		margin 0
		
		& img
			margin-bottom -5px
			
	&-float
		display inline-block
		width auto
		margin-bottom 30px
	&-aside
		display inline-block
		float left
		
	&-LineasTitleContainer
			display inline-block
			width 100%
		&-LineasTitle
			font-weight 400
			font-size 2em
			margin .5em 0 0
		&-LineasTitleborde
			display inline-block
			width 80%
			height 3px
			background-color #d8d8d8
	

/*Tablet*/
@media (min-width: 768px)
	.Llantas
		&-titleContainer
			vertical-align middle
		&-containerText
			vertical-align middle
		
		&-descuento
			margin .5em
		&-descrip
			margin 1em 0
		&-containerLight
			font-size 2em
		&-containerBold
			font-size 2.4em
@media (min-width: 840px)
	.Llantas
		&-containerText
			display none
		&-info
			margin 0
			float right
			vertical-align top			
			width 48%
			// padding 30px 0
			max-width 430px
			height 506px
		&-containerTextMobil
			display inline-block
			background-color $full_black
			color $white
			border 1px solid $dark_gray5
			width 100%
		&-promoBanner
			display none
		/*lineas prod*/	
		&-Lineas
			& a
				width 80% !important
		
		&-LineasTitle			
			font-size 2em
		
@media (min-width: 960px)
	.Llantas
		&-imageContainer
			position relative
		&-image
			display inline-block
			margin-bottom -5px
		&-sobreIm
			position absolute
			top 3em
		&-title
			color $white		
			margin 1em 0 .3em					
			
		&-containerLight
			font-size 2.56em
		&-containerBold
			font-size 2.56em
		&-info
			max-width 532px
			margin 0
			// float none		
			
/*Desktop*/
@media (min-width: 1100px)
	.Llantas
		&-sobreIm
			top 120px
		&-title
			margin 2em 0 .3em
		&-aside
			display inline-block
			position relative
			float left
		&-descrip
			text-align left		

@media (min-width: 1280px)
	.Llantas		
		&-info
			width 65%
			max-width 776px
		/*lineas prod*/	
		&-Lineas
			margin 10px
			& a
				width 45% !important
		&-promoBanner
			display inline-block
			margin 20px
@media (min-width: 1496px)
	.Llantas
		&-sobreIm
			height 532px
		&-containerText
			display inline-block
			background-color $transparencia2
			position absolute
			bottom 25px
			max-width 691px
		&-containerTextMobil
			display none
		&-aside
			float left
			margin-top -410px
		&-float
			& .AsideMenu
				// margin-top -410px
				position relative
				
		&-info
			width auto
			float left
			padding 0