section.Llantas
	figure.Llantas-imageContainer
		img.Llantas-image(src="../images/banner-llantas.jpg")
		div.u-centrar.Llantas-sobreIm
			div.Llantas-titleContainer
				h1.Llantas-title
					|	LLANTAS
				div.Llantas-borde
			div.Llantas-containerText
				h3.Llantas-containerLight
					|	Lorem Ipsum es simplemente
				h3.Llantas-containerBold
					|	TEXTO DE RELLENO DE LAS IMPRENTAS Y ARCHIVOS
				div.Llantas-bordeFull
section.Llantas-SubInfo
	div.u-centrar
		div.Llantas-aside
			include ../AsideMenu/template.jade
		div.Llantas-info
			div.Llantas-redBox
					|	50%
			h3.Llantas-descuento
				|	DE DESCUENTO
			p.Llantas-descrip
				|	en la segunda llanta según referencias seleccionadas
div.Clear