section.Llantas
	figure.Llantas-imageContainer
		img.Llantas-image(src="../images/banner-llantas.jpg")
		div.u-centrar.Llantas-sobreIm
			div.Llantas-titleContainer
				h1.Llantas-title
					|	LLANTAS
				div.Llantas-borde
			div.Llantas-containerText
				h3.Llantas-containerLight
					|	Lorem Ipsum es simplemente
				h3.Llantas-containerBold
					|	TEXTO DE RELLENO DE LAS IMPRENTAS Y ARCHIVOS
				div.Llantas-bordeFull
			include ../AsideMenu/template.jade