/*LLANTAS3*/
.Llantas3
	margin 1em
	&-info
		margin .5em
		display inline-block
		box-sizing border-box
	&-tabsContainer
		border 1px solid $light_gray
		display inline-block
		box-sizing border-box
		width 100%
		
	&-tabs
		width 100%
		margin 0
		padding 0
		list-style none
		text-align center
		margin-bottom 1.5rem
		font-size 0
		position relative
		transition all .3s ease		
	&-tabsItem
		display inline-block
		margin 0 0
		font-size 1.56rem
	&-tabsItemLink
		color $full_black
		border-bottom 3px solid $light_gray
		cursor pointer
		position relative
		padding .5em
		float left
		text-decoration none
		font-size 1.2rem
		transition all .3s ease
		width 155px
		box-sizing border-box
		
		&:after
			content ""
			border-left 7px solid transparent
			border-right 7px solid transparent
			border-top 9px solid $light_gray
			display inline-block
			position absolute
			top 50px
			left 45%
		&:focus
			outline 0
	&-tabsContentPane
		display none
		transition all .3s ease
	&-tabs--is-active
		display block

	&-tabs--is-selected
		color $white
		border-bottom 3px solid $yellow
		background-color $yellow
			
		&:after
			content ""
			border-left 7px solid transparent
			border-right 7px solid transparent
			border-top 9px solid $yellow
			display inline-block
			position absolute
			top 50px
			left 45%
	/*Informacion dentro de cad pestaña*/
	&-caract
		margin 1em
		font-size 1.2em
		color $dark_gray4
		text-align left
	&-caractItem
		font-weight 400
		margin .5em
	&-benef
		font-weight 700			
		margin 1.5em 0 .5em
	&-benefDesc
		font-weight 300		
		margin 0
	/*imagen derecha*/	
	&-imageDesc
		display inline-block
		border 1px solid $light_gray
		vertical-align top
		width 100%
		box-sizing border-box
	&-imageTitle
		font-weight 700
		font-size 2.06em
		color $yellow
		margin .5em 0 1em
	&.imageContainer
		display inline-block
		margin 1em
	
	/*Acciones*/
	&-buttonRec
		font-weight 400
		font-size 1.68em
		color $dark_black2
		border-bottom 2px solid $yellow
		padding .2em .7em
		display inline-block
		margin .5em 0
	&-redeslink
		font-weight 300
		font-size 1.45em
		padding .3em 1.2em
		margin 0 .3em
		border-bottom 1px dotted	
		display inline-block
		margin .5em 0
	&-fb
		color $blue_fb
		
	&-tw
		color $blue_tw
		
	&-gp
		color $red_gp
		

/*Tablet*/
@media (min-width: 960px)
	.Llantas3
		&-info			
			max-width 1335px
			// min-height 626px
			height 460px
			min-height 460px
			
		&-tabsContainer
			// float left
			height 100%
			max-width 450px
			width 450px
			
		&-tabsItem			
			font-size 1.56rem
		&-tabsItemLink
			padding .5em
			font-size 1.2rem
			width 148px			
		
		&-imageDesc
			// float left
			width 400px
			height 100%
			
		/*Informacion dentro de cad pestaña*/
		&-caract
			font-size 1.56em
/*Desktop*/
@media (min-width: 1116px)
	.Llantas3
		&-info
			margin 3em 3em 1em
			max-width 1335px
			height 540px
			
		&-tabsContainer
			float left
			height 100%
			max-width 480px
			width 480px
			
		&-tabsItemLink
			padding .5em
			font-size 1.2rem
			width 158px			
		
		&-imageDesc
			float left
			width 536px
			height 100%
/*Desktop*/
@media (min-width: 1300px)
	.Llantas3
		&-info
			margin 3em 3em 1em
			max-width 1335px
			height 626px
			
		&-tabsContainer
			float left
			height 100%			
			max-width 630px
			width 630px
		&-tabsItemLink
			padding .5em
			font-size 1.56rem
			width 208px
			&:after
				content ""
				border-left 7px solid transparent
				border-right 7px solid transparent
				border-top 9px solid $light_gray
				display inline-block
				position absolute
				top 65px
				left 45%
		&-tabs--is-selected
			&:after
				content ""
				border-left 7px solid transparent
				border-right 7px solid transparent
				border-top 9px solid $yellow
				display inline-block
				position absolute
				top 65px
				left 45%
		
		&-imageDesc
			float left
			width 536px
			height 100%