#cuerpo-internas
  .u-centrar
    .cont-gen-titulos-internas
      .titulos-internas
        span Consejos Útiles
    .cont_gen_otras_not.Consejos-list
      - for (var x = 0; x < 8; x++)
        a.cont_otra_not.Consejos-item(href='')
          .img_otra_not.Consejos-image
            img(src='../images/diseno/05-novedades/min1.jpg')
          .txt_otra_not.Consejos-text
            | Llanta que permite el reencauche gracias a su sólida estructura de cinturones reforzados y su cascara robusta
          span.Consejos-button
            span.Consejos-buttonText
              | VER MÁS
            span.Consejos-buttonIcon.icon-chevron-thin-right
          //- .btn_otra_nov_destacada Ver más