/*INDEXRIGHT*/
.IndexRight
	display inline-block
	float left
	&-ingreso
		background-color $light_gray3
	&-ingresoLeft
		display inline-block
		vertical-align middle
	&-textBold
		margin .6em 0 0
		color $black
		font-weight 400
		font-size 1.81em
	&-icon
		color $yellow
		margin 0 .5em
	&-text
		margin 0
		font-weight 300
		font-size 1.56em
		color $dark_gray2
		
	&-form
		display inline-block
		background-color $dark_gray3
		height 90px
		line-height 90px
		vertical-align middle
	&-input
		border 1px solid $white
		background-color transparent
		margin 1em
		color $white
		font-weight 700
		font-size 0.94em
		padding .3em
		width 244px
	&-button
		height 90px
		border none
		color $white
		background-color $yellow
		font-weight 700
		font-size 1.32em
		padding 0 1.7em
	&-centrosTitle
		margin 1em .5em 0