.Ancho
	width 100%
	max-width 320px
	display inline-block

/*INDEXRIGHT*/
.IndexRight
	display inline-block
	float left
	max-width 100%
	
	/*Ingreso*/
	&-ingreso
		background-color $light_gray3
		margin-top 1.06em
	&-ingresoLeft
		display inline-block
		vertical-align middle
		margin-left 1em
	&-textBold
		margin .6em 0 0
		color $full_black
		font-weight 400
		font-size 1.81em
	&-icon
		color $yellow
		margin 0 .5em
	&-text
		margin 0
		font-weight 300
		font-size 1.56em
		color $dark_gray2

	&-flecha--mobile
	&-flecha
		font-size 3em
		vertical-align middle
	&-flecha
		display none
	&-form
		display inline-block
		background-color $dark_gray3
		vertical-align middle
	&-field
		display inline-block
		margin 0
		padding 0
		border 0
	&-input
		border 1px solid $white
		background-color transparent
		margin .7em
		color $white
		font-weight 700
		font-size 0.94em
		padding .3em
		width 244px
	&-button
		height 90px
		border none
		color $white
		background-color $yellow
		font-weight 700
		font-size 1.32em
		padding 0 1.7em		
		
	/*Slider Centros*/
	&-centros
		max-width 1040px
	&-centrosTitleContainer
		display inline-block
		margin 1em 0
	&-centrosTitle
		margin 1em .5em 0
		font-weight 300
		font-size 2em
	&-centrosRegular
		font-weight 400
	&-centrosBorde
		background-color $light_gray
		width 95%
		height 3px
		display inline-block
		margin-left .5em
	&-centrosSlider
		text-align center		
		width 100%
		float left
	&-centrosImageContainer
		margin 0
		display inline-block
		vertical-align middle
		position relative
		
	&-centrosImage
		width 100%

	&-centrosShadow
		position absolute
		top 0
		bottom 0
		// width 482px
		// height 331px
		width 100%
		height 100%
		background-color $transparencia
		text-align center
		transition all 1s ease

		&:hover
			background-color transparent

			.IndexRight-centrosShadowBold
				display none
	&-centrosShadowText
		position absolute
		bottom 0
		right 0
		left 0
		
	&-centrosShadowBold
		font-weight 700
		font-size 1.56em
		color white
		margin 0
		transition all .3s ease
	&-centrosShadowLight
		font-weight	300	
	&-centrosShadowButton
		color $white
		background-color $full_black
		border 2px solid $yellow
		padding .7em 2em .7em 2.5em
		display inline-block
		margin .5em	0
	&-centrosShadowButtonText
		font-weight 400
		font-size 1.56em
		vertical-align middle		

	&-centrosShadowButtonIcon
		vertical-align middle
		font-size 1.58em
		margin-left .5em

/*Tablet*/
@media (min-width: 768px)
	.Ancho
		width 100%
		max-width 482px
		
	.IndexRight
		float none		
		&-centrosTitleContainer
			line-height 1.2em		
			
		/*Ingreso*/
		&-ingreso			
			max-width 45%
			display inline-block
			vertical-align top
		&-ingresoLeft
			display inline-block	
		
/*Desktop*/
@media screen and (min-width: 1100px)
	.Ancho
		// max-width 570px
		// max-width 650px
		// width 100%
		width 650px
		max-width none
		float left

	.IndexRight		
		max-width 650px
		&-ingreso
			max-width 58%
			float left			
		&-button
			padding 0 .5em
		
		&-centros
			text-align left
		&-centrosImageContainer
			float left			
			width 332px
			height 188px		
			&:first-child				
				width 318px
		&-centrosSlider
			width auto
		// 	display flex
								
	
		
@media (min-width: 1280px)
	.IndexRight
		&-ingreso			
			max-width 65%
		
@media (min-width: 1485px)
	.Ancho
		max-width none
		width 1040px
		float left
		
	.IndexRight
		float left
		&-ingreso
			max-width none			
			float left
		&-button
			padding 0 1.7em
		&-flecha--mobile
			display none
		&-flecha
			display inline-block
		&-centrosBorde
			width 744px
			
		&-centrosImageContainer
			width auto
			height 330px
			&:first-child
				width auto
		&-centrosImage
			width auto	

/*estilos OWL*/

.centrosSlider.owl-carousel.owl-theme .owl-controls.clickable	
	margin 0 auto
	max-width 1480px

.centrosSlider.owl-carousel.owl-theme .owl-controls.clickable .owl-buttons div
	width 35px
	height 35px
	line-height 35px
	border-radius 50%
	padding 7px
	background-color $transparent_white
	border 2px solid $white
	font-size 2.5em
	text-align center

.centrosSlider.owl-carousel.owl-theme .owl-controls.clickable .owl-buttons .owl-prev
.centrosSlider.owl-carousel.owl-theme .owl-controls.clickable .owl-buttons .owl-next
	position absolute
	bottom 15px
.centrosSlider.owl-carousel.owl-theme .owl-controls.clickable .owl-buttons .owl-prev
	float left
	left 0

.centrosSlider.owl-carousel.owl-theme .owl-controls.clickable .owl-buttons .owl-next
	float right
	right 0