section.IndexRight
	div.IndexRight-ingreso
		div.IndexRight-ingresoLeft
			h1.IndexRight-textBold
				span.icon-lapiz.IndexRight-icon
				|	INGRESA AQUÍ
			p.IndexRight-text
				|	y revisa el estado de tu vehículo
		form.IndexRight-form
			input.IndexRight-input(type="text", name="nit", placeholder="C.C. / NIT")
			input.IndexRight-input(type="password", name="pass", placeholder="CONTRASEÑA")
			input.IndexRight-button(type="submit", name="entrar", value="ENTRAR")
	div.IndexRight-centros
		h2.IndexRight-centrosTitle
			|	CONOCE NUESTROS 13
			span.IndexRight-centrosBold
				|	CENTROS DE SERVICIO
		div.IndexRight-centrosBorde