section.FeatureIndex
	figure.FeatureIndex-imageContainer.FeatureIndex-image1
		img.FeatureIndex-image(src="../images/rect-rines1.jpg")
	div.FeatureIndex-text
		p.FeatureIndex-description
			|	Llanta que permite el reencauche gracias a su sólida estructura de cinturones reforzados y su cascara robusta de cinturones reforzados y  permite el reencauche su cascara.
		a.FeatureIndex-button(href="")
			span.FeatureIndex-buttonText
				|	VER MÁS
			span.FeatureIndex-buttonIcon.icon-chevron-thin-right
	figure.FeatureIndex-imageContainer.FeatureIndex-image2
		img.FeatureIndex-image(src="../images/rect-rines2.jpg")