section.Nosotros
	figure.Nosotros-imageContainer
		img.Nosotros-image(src="../images/carro-quienes.jpg")
		div.Nosotros-texto
			div.Nosotros-titleContainer
				h3.Nosotros-title
					|	QUIENES SOMOS
				div.Nosotros-titleBorde
			p.Nosotros-description
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolorem, voluptas quia aliquid ullam. Nostrum nemo, rem architecto! Quam accusamus voluptatem debitis inventore earum temporibus quo obcaecati aspernatur repudiandae ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta aut perspiciatis inventore corrupti dignissimos molestias nihil quae ipsum, eius. Ad nam dolores vero nostrum at cumque minima earum ipsum.
	div.Nosotros-centros
		div.u-centrar
			div.Nosotros-centrosInfo
				figure.Nosotros-centrosImageContainer
					img.Nosotros-centrosImage(src="../images/centros.jpg")
				div.Nosotros-centrosText
					div.Nosotros-centrosTitleContainer
						h3.Nosotros-centrosTitle
							|	CONOCE NUESTROS 
							span.Nosotros-centrosRegular
								|	CENTROS DE SERVICIO		
						div.Nosotros-centrosTitleBorde
					p.Nosotros-centrosDescription
						|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque earum soluta nihil magnam cum ipsam natus a illum nemo sint. Et quia officiis accusamus commodi eius harum beatae perferendis sed.
					a.Nosotros-button(href="centros_serv.html")
						span.Nosotros-buttonText
							|	VER MÁS
						span.Nosotros-buttonIcon.icon-chevron-thin-right
	div.u-centrar
		div.Nosotros-alianzasTitleBlock
			div.Nosotros-alianzasTitleContainer
				h3.Nosotros-alianzasTitle
					|	Alianzas
				div.Nosotros-alianzasTitleBorde
		div.Nosotros-alianzasContainer
			figure.Nosotros-alianzasImageContainer
				img.Nosotros-alianzasImage(src="../images/diseno/nosotros/continental-logo.png")
				figcaption.Nosotros-alianzasCaption
					|	Continental
			figure.Nosotros-alianzasImageContainer
				img.Nosotros-alianzasImage(src="../images/diseno/nosotros/gulf-logo.png")
				figcaption.Nosotros-alianzasCaption
					|	Gulf Aceites
			figure.Nosotros-alianzasImageContainer
				img.Nosotros-alianzasImage(src="../images/diseno/nosotros/tudor-logo.png")
				figcaption.Nosotros-alianzasCaption
					|	Baterias Tudor