<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>	La Rueda</title>
        <link rel="stylesheet" type="text/css" href="../css/estilos.css">
        <link rel="stylesheet" type="text/css" href="../css/estilos-centro-serv.css">
        <link rel="stylesheet" type="text/css" href="../css/estilos-serv.css">
        
</head>
    

<body>
       
    <div class="remodal-bg remodal-is-closed">
        
        <div id="cuerpo-internas">
             <div class="u-centrar">
                  <div class="cont-gen-titulos-internas">
                      <div class="titulos-internas">nuestros <span>SERVICIOS</span></div>
                  </div>
                
                <div class="cont_gen_pestanas_serv">
                    
                    <div class="btn_pestana_serv active" id="btn_auto">
                        Automovil
                    </div>
                    <div class="btn_pestana_serv " id="btn_taxi">
                        taxi
                    </div>
                    <div class="btn_pestana_serv " id="btn_camion">
                        camion
                    </div>
                    
                </div>
                           
                <section class="cont_gen_servicios selec" id="cont_auto">
                    
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/alineacion.png"/>
                            </div>
                            <div class="nombre_serv">Alineación</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Alineación</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/balanceo.png"/>
                            </div>
                            <div class="nombre_serv">Balanceo</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Balanceo</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/montaje.png"/>
                            </div>
                            <div class="nombre_serv">Montaje</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Montaje</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/rectif_rines.png"/>
                            </div>
                            <div class="nombre_serv">Rectificación de rines</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Rectificación de rines</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/cambio_ac.png"/>
                            </div>
                            <div class="nombre_serv">Cambio de aceite</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Cambio de aceite</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/frenos.png"/>
                            </div>
                            <div class="nombre_serv">Frenos</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Frenos</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/suspencion.png"/>
                            </div>
                            <div class="nombre_serv">Suspenci´</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Suspenci´</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/sincronizacion.png"/>
                            </div>
                            <div class="nombre_serv">Sincronización</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Sincronización</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/reparacion_llantas.png"/>
                            </div>
                            <div class="nombre_serv">Reparación de llantas</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Reparación de llantas</div>
                        </div>
                    </a>
                    
                </section>
                                       
                <section class="cont_gen_servicios" id="cont_taxi">
                    
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/montaje.png"/>
                            </div>
                            <div class="nombre_serv">Montaje</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Montaje</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/rectif_rines.png"/>
                            </div>
                            <div class="nombre_serv">Rectificación de rines</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Rectificación de rines</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/cambio_ac.png"/>
                            </div>
                            <div class="nombre_serv">Cambio de aceite</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Cambio de aceite</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/frenos.png"/>
                            </div>
                            <div class="nombre_serv">Frenos</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Frenos</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/alineacion.png"/>
                            </div>
                            <div class="nombre_serv">Alineación</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Alineación</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/balanceo.png"/>
                            </div>
                            <div class="nombre_serv">Balanceo</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Balanceo</div>
                        </div>
                    </a>
                    
                    
                </section>
                
                <section class="cont_gen_servicios" id="cont_camion">
                    
                    
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/reparacion_llantas.png"/>
                            </div>
                            <div class="nombre_serv">Reparación de llantas</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Reparación de llantas</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/alineacion.png"/>
                            </div>
                            <div class="nombre_serv">Alineación</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Alineación</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/balanceo.png"/>
                            </div>
                            <div class="nombre_serv">Balanceo</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Balanceo</div>
                        </div>
                    </a>
                    
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/suspencion.png"/>
                            </div>
                            <div class="nombre_serv">Suspenci´</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Suspenci´</div>
                        </div>
                    </a>
                    <a href="servicios_interna.html" class="cont_gen_serv">
                        <img src="../images/diseno/02-servicios/img_serv.jpg" class="img_servicio"/>   
                        <div class="cont_nombre_serv">
                            <div class="icon_serv">
                                <img src="../images/diseno/02-servicios/sincronizacion.png"/>
                            </div>
                            <div class="nombre_serv">Sincronización</div>
                        </div>
                        <div class="hover_serv">
                            <div class="ver_serv">VER MÁS</div>
                            <div class="nombre_serv">Sincronización</div>
                        </div>
                    </a>
                    
                </section>
                
                  
            </div> 
        </div>   
              
      <div class="Chat">
          <a href="" class="Chat-button">
              <span class="Chat-icon icon-chat"></span>
              <span class="Chat-text">	CHAT ONLINE</span>
           </a>
        </div>
    </div>
    
    <script type="text/javascript" src="../js/app.js"></script>
    <script text="" javascript="" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="../js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="../js/functions.js"></script>
  
    <script>//<![CDATA[
    document.write('<script src="//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1"><\/script>')
    //]]></script><script src="//192.168.1.154:35729/livereload.js?snipver=1"></script>
           
          
</body>
</html>




