#cuerpo-internas
  .u-centrar
    .cont-gen-titulos-internas
      .titulos-internas
        | nuestros 
        span SERVICIOS
    .cont_gen_pestanas_serv
      #btn_auto.btn_pestana_serv.active
        | Automovil
      #btn_taxi.btn_pestana_serv
        | taxi
      #btn_camion.btn_pestana_serv
        | camion
    section#cont_auto.cont_gen_servicios.selec
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/alineacion.png')
          .nombre_serv Alineación
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Alineación
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/balanceo.png')
          .nombre_serv Balanceo
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Balanceo
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/montaje.png')
          .nombre_serv Montaje
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Montaje
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/rectif_rines.png')
          .nombre_serv Rectificación de rines
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Rectificación de rines
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/cambio_ac.png')
          .nombre_serv Cambio de aceite
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Cambio de aceite
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/frenos.png')
          .nombre_serv Frenos
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Frenos
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/suspencion.png')
          .nombre_serv Suspenci´
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Suspenci´
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/sincronizacion.png')
          .nombre_serv Sincronización
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Sincronización
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/reparacion_llantas.png')
          .nombre_serv Reparación de llantas
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Reparación de llantas
    section#cont_taxi.cont_gen_servicios
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/montaje.png')
          .nombre_serv Montaje
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Montaje
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/rectif_rines.png')
          .nombre_serv Rectificación de rines
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Rectificación de rines
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/cambio_ac.png')
          .nombre_serv Cambio de aceite
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Cambio de aceite
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/frenos.png')
          .nombre_serv Frenos
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Frenos
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/alineacion.png')
          .nombre_serv Alineación
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Alineación
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/balanceo.png')
          .nombre_serv Balanceo
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Balanceo
    section#cont_camion.cont_gen_servicios
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/reparacion_llantas.png')
          .nombre_serv Reparación de llantas
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Reparación de llantas
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/alineacion.png')
          .nombre_serv Alineación
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Alineación
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/balanceo.png')
          .nombre_serv Balanceo
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Balanceo
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/suspencion.png')
          .nombre_serv Suspenci´
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Suspenci´
      a.cont_gen_serv(href='serv_interna.html')
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/sincronizacion.png')
          .nombre_serv Sincronización
        .hover_serv
          .ver_serv VER MÁS
          .nombre_serv Sincronización