#cuerpo-internas
  .u-centrar
    .cont-gen-titulos-internas
      .titulos-internas
        | nuestros 
        span SERVICIOS
    .cont_gen_pestanas_serv
      #btn_auto.btn_pestana_serv.active
        | Automovil
      #btn_taxi.btn_pestana_serv
        | taxi
      #btn_camion.btn_pestana_serv
        | camion
    section#cont_auto.cont_gen_servicios.selec
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/alineacion.png')
          .nombre_serv Alineación
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Alineación
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/balanceo.png')
          .nombre_serv Balanceo
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Balanceo
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/montaje.png')
          .nombre_serv Montaje
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Montaje
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/rectif_rines.png')
          .nombre_serv Rectificación de rines
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Rectificación de rines
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/cambio_ac.png')
          .nombre_serv Cambio de aceite
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Cambio de aceite
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/frenos.png')
          .nombre_serv Frenos
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Frenos
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/suspencion.png')
          .nombre_serv Suspenci´
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Suspenci´
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/sincronizacion.png')
          .nombre_serv Sincronización
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Sincronización
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/reparacion_llantas.png')
          .nombre_serv Reparación de llantas
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Reparación de llantas
    section#cont_taxi.cont_gen_servicios
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/montaje.png')
          .nombre_serv Montaje
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Montaje
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/rectif_rines.png')
          .nombre_serv Rectificación de rines
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Rectificación de rines
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/cambio_ac.png')
          .nombre_serv Cambio de aceite
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Cambio de aceite
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/frenos.png')
          .nombre_serv Frenos
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Frenos
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/alineacion.png')
          .nombre_serv Alineación
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Alineación
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/balanceo.png')
          .nombre_serv Balanceo
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Balanceo
    section#cont_camion.cont_gen_servicios
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/reparacion_llantas.png')
          .nombre_serv Reparación de llantas
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Reparación de llantas
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/alineacion.png')
          .nombre_serv Alineación
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Alineación
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/balanceo.png')
          .nombre_serv Balanceo
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Balanceo
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/suspencion.png')
          .nombre_serv Suspenci´
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Suspenci´
      div.cont_gen_serv
        img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
        .cont_nombre_serv
          .icon_serv
            img(src='../images/diseno/02-servicios/sincronizacion.png')
          .nombre_serv Sincronización
        .hover_serv
          a.cotiz_serv(href='serv_interna.html') COTIZAR
          a.ver_serv(href='serv_interna.html') VER MÁS
          //- .nombre_serv Sincronización