/*SLIDERINDEX*/

.Sliderindex
	&--desktop
		margin-top 4em
	&-imageContainer
		margin 0		
	&-containerText
		background-color $full_black
		color $white
		text-align center
	&-containerLight
		font-weight 300
		font-size 2em
		margin .5em .7em 0
	&-containerBold
		font-weight 700
		font-size 2em
		margin 0 .7em 0
	&-borde
		width 100%
		height 3px
		background-color $light_gray
		margin-top 1em
		margin-bottom .5em
/*Tablet*/
@media (min-width: 1100px)
	.Sliderindex
		&--desktop		
			margin-top 0
		&--desktop
			position relative
		
		&-containerLight
			font-weight 300
			font-size 1.7em			
		&-containerBold
			font-weight 700
			font-size 1.7em			
	
/*Desktop*/
@media (min-width: 1200px)
	.Sliderindex
		&--mobile
			display none
		&--desktop
			display block
		&-imageContainer
			margin 0
		&-containerText
			background-color $transparencia2
			position absolute
			top 120px			
			right 222px
			max-width 500px
			max-height 200px
		&-containerLight
			font-weight 300
			font-size 1.5em			
		&-containerBold
			font-weight 700
			font-size 1.5em			
		
		
@media (min-width: 1480px)
	.Sliderindex		
		&-containerText
			background-color $transparencia2
			position absolute
			top 120px			
			right 222px
			max-width 693px
			max-height none
		&-containerLight
			font-weight 300
			font-size 2.56em			
		&-containerBold
			font-weight 700
			font-size 2.56em
		&-borde
			margin-top 2em
			margin-bottom .5em			
			
/*estilos controles owl*/

.Sliderindex--desktop.owl-carousel.owl-theme .owl-controls.clickable
	position absolute
	bottom 15px
	left 0
	right 0
	margin 0 auto
	max-width 1480px
	
.Sliderindex--desktop.owl-carousel.owl-theme .owl-controls.clickable .owl-buttons div
	width 35px
	height 35px
	line-height 35px
	border-radius 50%	
	padding 7px
	background-color $transparent_white
	border 2px solid $white
	font-size 2.5em
	text-align center	

	
.Sliderindex--desktop.owl-carousel.owl-theme .owl-controls.clickable .owl-buttons .owl-prev
	float left
	
.Sliderindex--desktop.owl-carousel.owl-theme .owl-controls.clickable .owl-buttons .owl-next
	float right