/*SLIDERINDEX*/

.Sliderindex
	position relative
	&-imageContainer
		margin 0
		
/*Tablet*/
@media (min-width: 768px)
	.Sliderindex		
		&-container
			width 1480px
			max-width 1480px 
			margin 0 auto
			border 1px solid red
			position absolute