//- section.Sliderindex--mobile
//- 	figure.Sliderindex-imageContainer
//- 		img.Sliderindex-image(src="../images/banner-home-mobile.jpg")
//- 		div.Sliderindex-containerText
//- 			h3.Sliderindex-containerLight
//- 				|	Lorem Ipsum es simplemente
//- 			h3.Sliderindex-containerBold
//- 				|	TEXTO DE RELLENO DE LAS IMPRENTAS Y ARCHIVOS
//- 			div.Sliderindex-borde
section.Sliderindex--desktop.owl-carousel
	figure.Sliderindex-imageContainer
		img.Sliderindex-image(src="../images/banner-home.jpg")
		div.Sliderindex-containerText
			h3.Sliderindex-containerLight
				|	Lorem Ipsum es simplemente
			h3.Sliderindex-containerBold
				|	TEXTO DE RELLENO DE LAS IMPRENTAS Y ARCHIVOS
			div.Sliderindex-borde
	figure.Sliderindex-imageContainer
		img.Sliderindex-image(src="../images/banner-home2.jpg")
		div.Sliderindex-containerText
			h3.Sliderindex-containerLight
				|	Lorem Ipsum es simplemente
			h3.Sliderindex-containerBold
				|	TEXTO DE RELLENO DE LAS IMPRENTAS Y ARCHIVOS
			div.Sliderindex-borde