/*COTIZADOR1*/

.Cotizador1
	margin 100px 0 !important
	&-item
		background-color #f2f2f2
		width 100%
		margin 1em 0
		display inline-block
	&-imageContainer
		margin 0
		width 176px
		height 180px
		border 1px solid $light_gray4
		display inline-block
	&-image
		margin 0 16px
	&-itemInfo
		display inline-block
		text-align left	
		width 320px
		margin 0 1em
	&-itemTitle
		font-weight 400
		font-size 2em
		margin .5em 0
	&-itemMarca
		font-weight 400
		font-size 1.5em
		margin 0
	&-itemCantidad
		display inline-block
		margin 0 1em
		width 320px		
	&-itemCantext
		display inline-block
		margin .7em 0
	&-itemCantext
	&-input
		font-weight 400
		font-size 1.62em
	&-input
		margin .7em 10px
	&-eliminar
		display inline-block
		max-width 200px
	&-eliminarButton
		font-weight 400
		font-size 2.01em
		color $dark_red2
		display inline-block
		margin .5em
	&-eliminarButtonText
		display inline-block
		vertical-align middle
	&-eliminarButtonIcon
		color $white
		background-color $dark_red2
		border-radius 50%
		display inline-block
		width 35px
		height 35px
		line-height 35px
		font-size 1.5rem
		vertical-align middle

	&-imageContainer
	&-itemInfo
	&-eliminar
		vertical-align top

	&-volver
		font-weight 700
		font-size 2.01em
		color $white
		background-color #A09F9F
		width 320px
		padding 0 .5em 0 0
		margin-right 25px

	&-volver
	&-cotizar
		display inline-block
		margin .5em
		cursor pointer

	&-mensaje
		font-weight 400
		font-size 2.01em

	&-volver2
		font-weight 700
		font-size 2.01em
		color $white
		background-color $yellow
		width 320px
		padding 0 .5em 0 0
		margin-right 25px
	&-actions
		display inline-block
		width 100%

	&-actionsText
		font-weight 700
		font-size 28px
		width 100%
		display inline-block

	&-botonera
		display inline-block
		width 100%

	&-cotizar
		font-weight 700
		font-size 2.01em
		color $white
		background-color $yellow
		width 217px
		padding 0 .5em
		display inline-block
		box-sizing border-box

	// &-actionsButtons
	// 	display inline-block
	// 	width 100%
	// 	margin 1em 0

	&-button
		display inline-block
		font-weight 700
		font-size 2.01em
		color $white
		background-color black
		width 70%
		padding 7px 0
		margin .2em
		cursor pointer

.Cotizador3
	&-mensajeBold
		display inline-block
		font-weight 400
		font-size 4.56em
		vertical-align top
		margin 44px 0
	&-mensaje
		display inline-block
		font-weight 400
		font-size 2.56em
		color #232323
		max-width 550px
		vertical-align top
	&-mensajeAmarillo
		color $yellow
@media (min-width: 480px)
	.Cotizador1
		&-button
			width 45%
@media (min-width: 720px)
	.Cotizador1
		&-button
			width 23%
/*Tablet*/
@media (min-width: 768px)
	.Cotizador1
		&-imageContainer
			float left
		&-itemInfo
			float left
		&-itemCantidad
			float left
		&-eliminar
			float right
		// &-actions
		// 	float right
		&-volver
			width 410px

@media (min-width: 1280px)
	.Cotizador1
		&-actionsText
			width 22%
		&-botonera
			width 52%
		&-cotizar
			width 20%
		&-button
			width 23%