#cuerpo-internas
	.u-centrar
		.cont-gen-titulos-internas
			.titulos-internas
				span COTIZADOR
		div.Cotizador1-list
			div.Cotizador1-item
				figure.Cotizador1-imageContainer
					img.Cotizador1-image(src="../images/")
				div.Cotizador1-itemInfo
					h4.Cotizador1-itemTitle
						|	ContiSportContact 3
					h5.Cotizador1-itemMarca
						|	ContiSportContact 3
				div.Cotizador1-itemCantidad
					span.Cotizador1-itemCantext
						|	cantidad
					input.Cotizador1-input(type="number",name="quantity" min="1", max="30", value="1")
