#cuerpo-internas.Cotizador1
	.u-centrar
		.cont-gen-titulos-internas
			.titulos-internas
				span COTIZADOR
		div.Cotizador1-list
			h4.Cotizador3-mensajeBold
				|	GRACIAS!!!
			p.Cotizador3-mensaje
				span.Cotizador3-mensajeAmarillo
					|	Lorem ipsum dolor sit amet
				|	, consectetur adipisicing elit.		
		#cont_conoce_centros
			#cont_cent_serv_contacto
				span CONOCE NUESTROS
				|  Centros de servicio
			#cont_selec_cent_contacto
				.cont-select-servicios
					| PPSierra Cll 116 # 70F - 16
					.despleg-selec-serv
						.servicio-centro PPSierra Cll 116 # 70F - 16
						.servicio-centro PPSierra Cll 116 # 70F - 16
						.servicio-centro PPSierra Cll 116 # 70F - 16
						.servicio-centro PPSierra Cll 116 # 70F - 16
						.servicio-centro PPSierra Cll 116 # 70F - 16
		.cont-gen-titulos-internas
			.titulos-internas
				| otros 
				span SERVICIOS
		section#cont_camion.cont_gen_servicios.otros
			a.cont_gen_serv(href='servicios_interna.html')
				img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
				.cont_nombre_serv
					.icon_serv
						img(src='../images/diseno/02-servicios/reparacion_llantas.png')
					.nombre_serv Reparación de llantas
				.hover_serv
					.ver_serv VER MÁS
					.nombre_serv Reparación de llantas
			a.cont_gen_serv(href='servicios_interna.html')
				img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
				.cont_nombre_serv
					.icon_serv
						img(src='../images/diseno/02-servicios/alineacion.png')
					.nombre_serv Alineación
				.hover_serv
					.ver_serv VER MÁS
					.nombre_serv Alineación
			a.cont_gen_serv(href='servicios_interna.html')
				img.img_servicio(src='../images/diseno/02-servicios/img_serv.jpg')
				.cont_nombre_serv
					.icon_serv
						img(src='../images/diseno/02-servicios/balanceo.png')
					.nombre_serv Balanceo
				.hover_serv
					.ver_serv VER MÁS
					.nombre_serv Balanceo