/*VENTANA MODAL CARACTERISTICAS*/

.Modal-left
	display inline-block
	text-align left
	border-right 1px solid $light_gray	
	vertical-align top
	&Title
		font-weight 400
		font-size 1.56em
		margin 0
	&Carac
		font-weight 400
		font-size 1.56em
		color $dark_gray4
	&SubTitle
		font-weight 700
		font-size 1.56em
		color $dark_gray4
		margin 0
		margin-top 3.5em
	&Beneficio
		font-weight 300
		font-size 1.56em
		color $dark_gray4
		margin .3em 0
	&ButtonsContainer
		text-align center
	&ButtonGris		
		background-color $dark_gray5
		margin-right 1em
	&Button		
		background-color $yellow
		
	&ButtonGris
	&Button
		font-weight 700
		font-size 2.09em
		color $white
		padding .2em 1em
		display inline-block
.Modal-right
	display inline-block
	text-align center	
	padding 1em
	vertical-align top
	&Title
		color $yellow
		margin 0
		font-weight 700
		font-size 2.06em
	&ImageContainer
		margin 0
.remodal-close
	background-color rgba(0,0,0,.80)!important
	border-radius 50%
	left inherit !important 
	right 0 !important
/*Tablet*/
@media (min-width: 768px)
	.Modal
		padding 1em
	.Modal-left
		padding 1em