div.remodal(data-remodal-id="modalCaract")
	button.remodal-close(data-remodal-action="close")
	div.Modal
		div.Modal-left
			h3.Modal-leftTitle
				|	CARACTERÍSTICAS
			p.Modal-leftCarac
				|	Tipo de Vehículo: Automovil
			p.Modal-leftCarac
				|	Categoria: Econo Turismo - Diseño: KR26
			p.Modal-leftCarac
				|	Medidas: 165/70 13''
			p.Modal-leftCarac
				|	Indice de carga: 77 - Indice de velocidad: H - 210 km/h

			h4.Modal-leftSubTitle
				|	Beneficios
			p.Modal-leftBeneficio
				|	Alta adherencia en piso seco y mojado.
			p.Modal-leftBeneficio
				|	Mayor superficie de contacto para una mejor reacción a alta velocidad.
			p.Modal-leftBeneficio
				|	Reacciona ante las mayores exigencias de manejo deportivo.
			div.Modal-leftButtonsContainer
				a.Modal-leftButtonGris
					span.Modal-leftButtonText
						|	AGREGAR AL COTIZADOR
					span.Modal-leftButtonIcon.icon-chevron-thin-right
				a.Modal-leftButton
					span.Modal-leftButtonText
						|	COTIZAR
					span.Modal-leftButtonIcon.icon-chevron-thin-right
		div.Modal-right
			h3.Modal-rightTitle
				|	ContiSportContact 5P
			figure.Modal-rightImageContainer
				img.Modal-rightImage(src="../images/llanta-prueba.png")