div.Lineas-interna
	.u-centrar
		.cont-gen-titulos-internas
			.titulos-internas
				span Taxis
		div.Lineas-interna-promoBanner
			picture.Lineas-interna-promoBannerContainer
				source(media="(min-width: 768px)", srcset="http://lorempixel.com/923/180/transport")
				img(src="http://lorempixel.com/360/400/transport")
		div.Lineas-internaDesc
			p.Lineas-internaDescText
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, voluptate facere at est optio ratione. Et magnam quam ducimus alias eveniet iste ipsum maiores voluptates id repudiandae, quasi consequatur modi.
			p.Lineas-internaDescText
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, voluptate facere at est optio ratione. Et magnam quam ducimus alias eveniet iste ipsum maiores voluptates id repudiandae, quasi consequatur modi.
			p.Lineas-internaDescText
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, voluptate facere at est optio ratione. Et magnam quam ducimus alias eveniet iste ipsum maiores voluptates id repudiandae, quasi consequatur modi.