#cuerpo-internas
    .u-centrar
      .cont-gen-titulos-internas
        .titulos-internas
          | CENTROS DE 
          span SERVICIOS
      .fila-centro_serv
        .carrusel-img-serv
          .img-centro-serv
            img(src='../images/diseno/01-centros/img_centro.jpg', alt='', title='')
          .img-centro-serv
            img(src='../images/diseno/01-centros/img_centro.jpg', alt='', title='')
        .cont-txts-centro-serv
          .direccion-centro PPSierra Cll 116 # 70F - 16
          .tels-centro
            a(href='tel:') 123 456 7690
            |  - 
            a(href='tel:') 866 7690
          .descrip-centro
            | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        .cont-gender-centros
          .btn-ver-map Ver mapa
          .cont-serv-centro
            .cont-select-servicios
              | Servicios
              .despleg-selec-serv
                .servicio-centro Balanceo
                .servicio-centro Balanceo
                .servicio-centro Balanceo
                .servicio-centro Balanceo
                .servicio-centro Balanceo
      .fila-centro_serv
        .carrusel-img-serv
          .img-centro-serv
            img(src='../images/diseno/01-centros/img_centro.jpg', alt='', title='')
          .img-centro-serv
            img(src='../images/diseno/01-centros/img_centro.jpg', alt='', title='')
        .cont-txts-centro-serv
          .direccion-centro PPSierra Cll 116 # 70F - 16
          .tels-centro
            a(href='tel:') 123 456 7690
            |  - 
            a(href='tel:') 866 7690
          .descrip-centro
            | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        .cont-gender-centros
          .btn-ver-map Ver mapa
          .cont-serv-centro
            .cont-select-servicios
              | Servicios
              .despleg-selec-serv
                .servicio-centro Balanceo
                .servicio-centro Balanceo
                .servicio-centro Balanceo
                .servicio-centro Balanceo
                .servicio-centro Balanceo
      .fila-centro_serv
        .carrusel-img-serv
          .img-centro-serv
            img(src='../images/diseno/01-centros/img_centro.jpg', alt='', title='')
          .img-centro-serv
            img(src='../images/diseno/01-centros/img_centro.jpg', alt='', title='')
        .cont-txts-centro-serv
          .direccion-centro PPSierra Cll 116 # 70F - 16
          .tels-centro
            a(href='tel:') 123 456 7690
            |  - 
            a(href='tel:') 866 7690
          .descrip-centro
            | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        .cont-gender-centros
          .btn-ver-map Ver mapa
          .cont-serv-centro
            .cont-select-servicios
              | Servicios
              .despleg-selec-serv
                .servicio-centro Balanceo
                .servicio-centro Balanceo
                .servicio-centro Balanceo
                .servicio-centro Balanceo
                .servicio-centro Balanceo
      .fila-centro_serv
        .carrusel-img-serv
          .img-centro-serv
            img(src='../images/diseno/01-centros/img_centro.jpg', alt='', title='')
          .img-centro-serv
            img(src='../images/diseno/01-centros/img_centro.jpg', alt='', title='')
        .cont-txts-centro-serv
          .direccion-centro PPSierra Cll 116 # 70F - 16
          .tels-centro
            a(href='tel:') 123 456 7690
            |  - 
            a(href='tel:') 866 7690
          .descrip-centro
            | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        .cont-gender-centros
          .btn-ver-map Ver mapa
          .cont-serv-centro
            .cont-select-servicios
              | Servicios
              .despleg-selec-serv
                .servicio-centro Balanceo
                .servicio-centro Balanceo
                .servicio-centro Balanceo
                .servicio-centro Balanceo
                .servicio-centro Balanceo