fieldset.Filtro2-field
  div.Filtro2-Caja
    div.Filtro2-fieldTitle
      | Marca
    div.Filtro2-fieldList
      - for (var x = 0; x < 18; x++)
        a.Filtro2-fieldLink(href='http://www.paxzupruebas.com/rueda/llantas/vehiculo/mitsubishi/eclipse/3-0-gt-v6-auto/blacklion') blacklion
  div.Filtro2-Caja
    div.Filtro2-fieldTitle
      | Categoria
    div.Filtro2-fieldList
      - for (var x = 0; x < 2; x++)
        a.Filtro2-fieldLink(href='http://www.paxzupruebas.com/rueda/llantas/vehiculo/mitsubishi/eclipse/3-0-gt-v6-auto/blacklion') blacklion
fieldset.Filtro2-field
  div.Filtro2-Caja
    div.Filtro2-fieldTitle
      | Marca
    div.Filtro2-fieldList
      - for (var x = 0; x < 18; x++)
        a.Filtro2-fieldLink(href='http://www.paxzupruebas.com/rueda/llantas/vehiculo/mitsubishi/eclipse/3-0-gt-v6-auto/blacklion') blacklion
  div.Filtro2-Caja
    div.Filtro2-fieldTitle
      | Categoria
    div.Filtro2-fieldList
      - for (var x = 0; x < 2; x++)
        a.Filtro2-fieldLink(href='http://www.paxzupruebas.com/rueda/llantas/vehiculo/mitsubishi/eclipse/3-0-gt-v6-auto/blacklion') blacklion
fieldset.Filtro2-field
  div.Filtro2-Caja
    div.Filtro2-fieldTitle
      | Marca
    div.Filtro2-fieldList
      - for (var x = 0; x < 18; x++)
        a.Filtro2-fieldLink(href='http://www.paxzupruebas.com/rueda/llantas/vehiculo/mitsubishi/eclipse/3-0-gt-v6-auto/blacklion') blacklion
  div.Filtro2-Caja
    div.Filtro2-fieldTitle
      | Categoria
    div.Filtro2-fieldList
      - for (var x = 0; x < 2; x++)
        a.Filtro2-fieldLink(href='http://www.paxzupruebas.com/rueda/llantas/vehiculo/mitsubishi/eclipse/3-0-gt-v6-auto/blacklion') blacklion