div.Filtro2
	div.Filtro2-visible
		h3.Filtro2-title
			|	FILTRAR POR...
		span.Filtro2-titleIcon.icon-chevron-thin-right.Filtro2-titleIcon--open
		span.Filtro2-titleIcon.icon-angle-down
	form.Filtro2-desplegable
		div.Filtro2-migaPan
			- for (var x = 0; x < 3; x++)
				div.Filtro2-migaContainer
					span.Filtro2-migaTitle
						|	Marca:
					span.Filtro2-migaDesc
						|	Bridgestone
					a.Filtro2-migaElim(href="")
						|	X
		include filtro.jade
		//- fieldset.Filtro2-field
		//- 	div.select
		//- 		select.Filtro2-select(name="anio")
		//- 			option.Filtro2-option(value="")
		//- 				|	AÑO
		//- 			option.Filtro2-option(value="2015")
		//- 				|	2015
		//- 			option.Filtro2-option(value="2016")
		//- 				|	2016
		//- 			option.Filtro2-option(value="2017")
		//- 				|	2017
		//- 	div.select
		//- 		select.Filtro2-select(name="velocidad")
		//- 			option.Filtro2-option(value="")
		//- 				|	VELOCIDAD
		//- 			option.Filtro2-option(value="80km")
		//- 				|	80km/h
		//- 			option.Filtro2-option(value="90km/h")
		//- 				|	90km/h
		//- 			option.Filtro2-option(value="135km/h")
		//- 				|	135km/h
		//- fieldset.Filtro2-field
		//- 	div.select
		//- 		select.Filtro2-select(name="seg")
		//- 			option.Filtro2-option(value="")
		//- 				|	SEGMENTACIÓN
		//- 			option.Filtro2-option(value="2015")
		//- 				|	2015
		//- 			option.Filtro2-option(value="2016")
		//- 				|	2016
		//- 	div.select
		//- 		select.Filtro2-select(name="diam")
		//- 			option.Filtro2-option(value="")
		//- 				|	DIAMETRO
		//- 			option.Filtro2-option(value="80km")
		//- 				|	15puld
		//- 			option.Filtro2-option(value="90km/h")
		//- 				|	16pulg
		//- fieldset.Filtro2-field
		//- 	div.select
		//- 		select.Filtro2-select(name="seg")
		//- 			option.Filtro2-option(value="")
		//- 				|	CARGA
		//- 			option.Filtro2-option(value="2015")
		//- 				|	2015
		//- 			option.Filtro2-option(value="2016")
		//- 				|	2016
		//- 	div.select
		//- 		select.Filtro2-select(name="diam")
		//- 			option.Filtro2-option(value="")
		//- 				|	RFT
		//- 			option.Filtro2-option(value="80km")
		//- 				|	15puld
		//- 			option.Filtro2-option(value="90km/h")
		//- 				|	16pulg		
		//- a.Filtro2-button(href="")
		//- 	span.Filtro2-buttonText
		//- 		|	VER RESULTADOS
		//- 	span.icon-chevron-thin-right.Filtro2-buttonIcon