section.Llantas2
	div.Llantas2-titleContainer
		h1.Llantas2-title
			|	LLANTAS
		div.Llantas2-borde
	div
		a.Modal-leftButtonGris
			span.Modal-leftButtonText
				|	AGREGAR AL COTIZADOR
			span.Modal-leftButtonIcon.icon-chevron-thin-right
		a.Modal-leftButton
			span.Modal-leftButtonText
				|	COTIZAR
			span.Modal-leftButtonIcon.icon-chevron-thin-right
	div.Intllantas
		div.Intllantas-der
			h3.Llantas3-imageTitle
				|	ContiSportContact 5P
			figure.Llantas3-imageContainer
				img.Llantas3-image(src="../images/llanta-prueba.png")
			div.Llantas3-marcaContainer
				img.Llantas3-marcaImg(src="../images/llantas_2/general.jpg")
		div.Intllantas-izq
			p.Intllantas-des
				|	El neumatico que pisa al resto. Economía, seguridad y durabilidad llevadas al máximo nivel.
			div.Intllantas-medio
				h3.Intllantas-title
					|	BENEFICIOS
				p.Intllantas-txt
					|	Menos distancia de frenado y óptimo rendimiento kilométrico.
				p.Intllantas-txt
					|	Alta resistencia a daños por inpactos
				p.Intllantas-txt
					|	Ahorro de combustible, menor desgaste del neumático.
			div.Intllantas-logos
				img(src="../images/int_llantas/logo1.png")
				img(src="../images/int_llantas/logo2.png")

		div.Intllantas-caract
			h4.Intllantas-carTitle
				|	CARACTERÍSTICAS
			div.Intllantas-carList
				div.Intllantas-carItem
					img.Intllantas-carimg(src="../images/int_llantas/car1.png")
					p.Intllantas-carTxt
						|	Ahorro de combustible
				div.Intllantas-carItem
					img.Intllantas-carimg(src="../images/int_llantas/car2.png")
					p.Intllantas-carTxt
						|	Asimetrico
				div.Intllantas-carItem
					img.Intllantas-carimg(src="../images/int_llantas/car3.png")
					p.Intllantas-carTxt
						|	Confort
				div.Intllantas-carItem
					img.Intllantas-carimg(src="../images/int_llantas/car4.png")
					p.Intllantas-carTxt
						|	Durabilidad
				div.Intllantas-carItem
					img.Intllantas-carimg(src="../images/int_llantas/car5.png")
					p.Intllantas-carTxt
						|	Frenado
				div.Intllantas-carItem
					img.Intllantas-carimg(src="../images/int_llantas/car6.png")
					p.Intllantas-carTxt
						|	Lluvia
				div.Intllantas-carItem
					img.Intllantas-carimg(src="../images/int_llantas/car7.png")
					p.Intllantas-carTxt
						|	Protector de rin
				div.Intllantas-carItem
					img.Intllantas-carimg(src="../images/int_llantas/car8.png")
					p.Intllantas-carTxt
						|	Ruido
				div.Intllantas-carItem
					img.Intllantas-carimg(src="../images/int_llantas/car9.png")
					p.Intllantas-carTxt
						|	Sílica
	div.Llantas3-actions
		a.Llantas3-buttonRec
			span.Llantas3-buttonText
				|	Recomendar
			span.Llantas3-buttonIcon.icon-chevron-thin-right
		a.Llantas3-redeslink.Llantas3-fb(href='')
			span.icon-facebook
			span
				|	facebook
		a.Llantas3-redeslink.Llantas3-tw(href='')
			span.icon-twitter
			span
				|	twitter
		a.Llantas3-redeslink.Llantas3-gp(href='')
			span.icon-google-plus
			span
				|	google+