/*HEADER*/

.Header
	background-color $transparent_black
	color $white
	position fixed
	top 0
	left 0
	width 100%
	z-index 10
	// overflow hidden
	height 3em
	line-height 2.5em

	&-logo
		display inline-block
		float left
		margin-left 1em
		
		& .Logo-link
			font-size 3em

	&-subMenu--mobile
		display inline-block
		float right
		margin-right .5em

	&-cotizadorButton
		text-decoration none
		text-transform uppercase
		color $yellow
		border 1px solid $yellow
		font-weight 700
		font-size 1em
		padding .3em 1em
	&-contactoButton
	&-menuButton
		border none
		background-color transparent

	&-subMenu--desktop
		display none
	&-about
	&-contacto
		display inline-block
	&-contactoText
	&--contactoIcon
	&-tel
		margin 0 .5em
	&-contacto--mobile
		position absolute
		top 3em
		left 30%
		background-color $transparent_black
		display none

/*Tablet*/
@media (min-width: 1100px)
	.Header
		height 120px
		&-container
			width 1480px
			max-width 1480px
			margin 0 auto
		&-logo
			float left
			width 175px
			height 120px

			& .Logo-link
				font-size 7.5em

		&-right			
			text-align center			
			display inline-block
			width 80%
			// width 1288px
		&-subMenu--mobile
			display none
		&-subMenu--desktop
			display inline-block

		&-about
			color $white
			text-transform uppercase
			margin 0 .5em
			font-weight 300
		&-cotizadorButton
			margin 0 .5em

		&-contacto
			border-bottom 1px solid $white
			padding 0 .5em
			margin 0 .5em
			text-transform uppercase
			font-weight 300
			font-size 1.16em
		&-contacto--mobile
			display none !important
/*Desktop*/
@media (min-width: 1496px)
	.Header
		&-right
			float right
		&-subMenu--desktop
			float right