header.Header
	div.Header-container
		div.Header-logo
			include ../Logo/template.jade
		div.Header-right
			div.Header-subMenu--mobile
				a(href="cotizador1.html").Header-cotizadorButton
					|	Cotizador
				button.Header-contactoButton#contactoButton(type='button')
					span.Header-contactoIcon.icon-wa
						span.path1
						span.path2
						span.path3
				button#showMenu.Header-menuButton(type='button')
					span.icon-menu
			div.Header-subMenu--desktop
				a.Header-about(href="larueda.html")
					|	La Rueda
				a(href="cotizador1.html").Header-cotizadorButton
					|	Cotizador...
					span.icon-chevron-thin-right
				div.Header-contacto
					span.Header-contactoText
						|	Comunícate
					span.Header-contactoIcon.icon-wa
						span.path1
						span.path2
						span.path3
					span.Header-tel
						|	311 5416067
			include ../MainMenu/template.jade
			div.Header-contacto--mobile#contacto-mobile
					span.Header-contactoText
						|	Comunícate
					span.Header-contactoIcon.icon-wa
						span.path1
						span.path2
						span.path3
					span.Header-tel
						|	311 5416067