@import "nib"
@import "normalize.styl"
@import url('https://fonts.googleapis.com/css?family=Oswald:400,300,700')

/*ICONOS COMO FUENTES*/
@import "iconfonts.styl"

$white = #FFF
$transparent_white = rgba(255,255,255,.20)
$full_black = #000
$dark_black = #1E120D
$dark_black2 = #2D2D2D
$transparent_black = rgba(0,0,0,.85)
$yellow = #F5A118
$gray =#666666
$gray2 =#333333
$dark_gray = #282828
$dark_gray2 = #3A3A3A
$dark_gray3 = #474747
$dark_gray4 = #3F3F3F
$dark_gray5 = #444444
$light_gray = #D8D8D8
$light_gray2 = #B5B5B5
$light_gray3 = #EFEFEF
$light_gray4 = #D3D3D3
$transparencia = rgba(0,0,0,.67)
$transparencia2 = rgba(0,0,0,.54)
$red = #A80000
$dark_red = #7F0000
$dark_red2 =#AC1922

$blue_fb = #006096
$blue_tw = #009999
$red_gp = #C4002F

html
	width 100%
	height 100%
	font-size 16px
	font-family 'Oswald', sans-serif /* Fuente de google fonts */

body
	background-color $white

ul
	margin 0

img
	max-width 100%
	max-height 100%

a
	text-decoration none
	
option
	font-weight regular !important
	
.u-centrar
	text-align center
	
.u-title
	margin 20px 0
	
.Contenedor
	display inline-block
	margin 0 auto
	text-align center
	max-width 1480px
	width 90%		
		
.Clear
	clear both

/*BOTON DE CHAT*/	
.Chat
	position fixed
	right 0
	bottom 16px
	&-button
		color $white
		background-color $yellow
		padding 1em
	&-icon
		margin-right .5em
	&-text
		display none
	
/*Tablet*/
@media (min-width: 768px)
	.u-centrar		
		margin 0 auto
		// width 1480px
		max-width 1480px
		
	.Chat		
		&-text
			display inline-block
			
@media (min-width: 1024px)			
	.u-title
		margin 35px 0
@media (min-width: 1280px)
	.u-title
		margin 50px 0
		
@media (min-width: 1480px)
	.Contenedor
		width 100%
		margin 0
/*HEADER*/
@import "../components/Header/estilos.styl"

/*MAINMENU*/
@import "../components/MainMenu/estilos.styl"

/*SLIDERINDEX*/
@import "../components/SliderIndex/estilos.styl"

/*ASIDEMENU*/
@import "../components/AsideMenu/estilos.styl"

/*TABS*/
@import "../components/Tabs/estilos.styl"

/*FILTROLLANTAS(BUSCADOR)*/
@import "../components/FiltroLlantas/estilos.styl"

/*INDEXRIGHT*/
@import "../components/indexRight/estilos.styl"

/*REDESMENU*/
@import "../components/RedesMenu/estilos.styl"

/*LINEASPRODUCTO*/
@import "../components/LineasProd/estilos.styl"

/*DESTACADOS*/
@import "../components/Destacados/estilos.styl"

/*DESTACADOS*/
@import "../components/FeatureIndex/estilos.styl"

/*LLANTAS*/
@import "../components/Llantas/estilos.styl"

/*LLANTAS2*/
@import "../components/Llantas2/estilos.styl"

/*LLANTAS3*/
@import "../components/Llantas3/estilos.styl"

/*FILTROLLANTAS*/
@import "../components/FiltroLlantas2/estilos.styl"

/*COTIZADOR*/
@import "../components/Cotizador/estilos.styl"

/*COTIZADOR1*/
@import "../components/Cotizador1/estilos.styl"

/*CENTROS DE SERVICIO*/
@import "../components/CentroServicios/estilos.styl"

/*SERVICIOS*/
@import "../components/Servicios/estilos.styl"

/*SERVICIOS INTERNA*/
@import "../components/Servicios-interna/estilos.styl"

/*CONTACTO*/
@import "../components/Contacto/estilos.styl"

/*NOSOTROS*/
@import "../components/Nosotros/estilos.styl"

/*NOVEDADES*/
@import "../components/Novedades/estilos.styl"

/*NOVEDADES INTERNA*/
@import "../components/Novedades-interna/estilos.styl"

/*LINEAS INTERNA*/
@import "../components/Lineas-interna/estilos.styl"

/*CONSEJOS*/
@import "../components/Consejos/estilos.styl"

/*FOOTER*/
@import "../components/Footer/estilos.styl"

/*VENTANA MODAL CARACTERISTICAS*/
@import "../components/modal/estilos.styl"

/*VENTANA MODAL AGREGADO COTIZADOR*/
@import "../components/Cotizador-modal/estilos-agregado.styl"

@import "../components/modal/remodal.styl"
@import "../components/modal/remodal-default-theme.styl"

/*Estilos OWL CAROUSEL*/
@import "../lib/owl-carousel/owl-carousel.styl"
// @import "../lib/owl-carousel/owl-theme.styl"
.owl-buttons
	color white

/*Estilos jPaginate*/
@import "../lib/jpaginate.styl"