@import "nib"
@import "normalize.styl"
@import url('https://fonts.googleapis.com/css?family=Oswald:400,300,700')

/*ICONOS COMO FUENTES*/
@import "iconfonts.styl"

$white = #FFF
$full_black = #000
$transparent_black = rgba(0,0,0,.85)
$yellow = #F5A118
$dark_gray = #282828
$dark_gray2 = #3A3A3A
$dark_gray3 = #474747
$light_gray = #D8D8D8
$light_gray2 = #B5B5B5
$light_gray3 = #EFEFEF
$transparencia = rgba(0,0,0,.67)
$transparencia2 = rgba(0,0,0,.54)

html
	width 100%
	height 100%
	font-size 16px
	font-family 'Oswald', sans-serif /* Fuente de google fonts */

body
	background-color $white

ul
	margin 0

img
	max-width 100%
	max-height 100%

a
	text-decoration none
	
option
	font-weight regular !important
	
.u-centrar
	text-align center
	overflow hidden
	
/*Tablet*/
@media (min-width: 768px)			
	.u-centrar		
		margin 0 auto
		width 1480px
		max-width 1480px		

/*HEADER*/
@import "../components/Header/estilos.styl"

/*MAINMENU*/
@import "../components/MainMenu/estilos.styl"

/*SLIDERINDEX*/
@import "../components/SliderIndex/estilos.styl"

/*ASIDEMENU*/
@import "../components/AsideMenu/estilos.styl"

/*TABS*/
@import "../components/Tabs/estilos.styl"

/*FILTROLLANTAS*/
@import "../components/FiltroLlantas/estilos.styl"

/*INDEXRIGHT*/
@import "../components/indexRight/estilos.styl"

/*REDESMENU*/
@import "../components/RedesMenu/estilos.styl"

/*FOOTER*/
@import "../components/Footer/estilos.styl"