section.Llantas3-caract
	p.Llantas3-caractItem
		|	Tipo de vehículo: Automovil
	p.Llantas3-caractItem
		|	Categoría: Econo Turismo   -   Diseño: KR26
	p.Llantas3-caractItem
		|	Medidas	165/70 13''
	p.Llantas3-caractItem
		|	Indice de carga: 77   -   Indice de velocidad: H - 210 km/h
	h4.Llantas3-benef
		|	Beneficios
	p.Llantas3-benefDesc
		|	Alta adherencia en piso seco y mojado.
	p.Llantas3-benefDesc
		|	Mayor superficie de contacto para una mejor reacción a alta velocidad.
	p.Llantas3-benefDesc
		|	Reacciona ante las mayores exigencias de manejo deportivo.