<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>	La Rueda</title>
        <link rel="stylesheet" type="text/css" href="../css/estilos.css">
        <link rel="stylesheet" type="text/css" href="../css/estilos-centro-serv.css">
        <link rel="stylesheet" type="text/css" href="../css/estilos-novedades.css">
        
        
</head>
    

<body>
       
    <div class="remodal-bg remodal-is-closed">
        
        <div id="cuerpo-internas">
             <div class="u-centrar">
                  <div class="cont-gen-titulos-internas">
                      <div class="titulos-internas"><span>NOVEDADES - TIPS</span></div>
                  </div>
                
                 <div class="cont_gen_nov_destacadas">
                     
                     <a href="" class="cont_not_destacada">
                         <div class="titulo_nov_destacada">Lorem Ipsum es simplemente el texto de relleno</div>
                         <div class="img_not_destacada">
                             <img src="../images/diseno/05-novedades/1.jpg"/>
                         </div>
                         <div class="txt_nov_destacada">
                             Llanta que permite el reencauche gracias a su sólida estructura de Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño....
                         </div>
                         <div class="btn_nov_destacada">Ver más</div>
                     </a>
                     
                     <a href="" class="cont_not_destacada">
                         <div class="titulo_nov_destacada">Lorem Ipsum es simplemente el texto de relleno</div>
                         <div class="img_not_destacada">
                             <img src="../images/diseno/05-novedades/2.jpg"/>
                         </div>
                         <div class="txt_nov_destacada">
                             Llanta que permite el reencauche gracias a su sólida estructura de Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño....
                         </div>
                         <div class="btn_nov_destacada">Ver más</div>
                     </a>
                     
                 </div>
                 
                 <div class="cont-gen-titulos-internas">
                      <div class="titulos-internas">otras <span>NOticias</span></div>
                  </div>
                  
                  <div class="cont_gen_otras_not">
                      <a href="" class="cont_otra_not">
                          <div class="titulo_otra_not">Lorem Ipsum es simplemente el texto de relleno</div>
                          <div class="txt_otra_not">
                              Llanta que permite el reencauche gracias a su sólida estructura de cinturones reforzados y su cascara robusta
                          </div>
                          <div class="img_otra_not">
                              <img src="../images/diseno/05-novedades/min1.jpg"/>
                          </div>
                          <div class="btn_otra_nov_destacada">Ver más</div>
                      </a>
                      
                      <a href="" class="cont_otra_not">
                          <div class="titulo_otra_not">Lorem Ipsum es simplemente el texto de relleno</div>
                          <div class="txt_otra_not">
                              Llanta que permite el reencauche gracias a su sólida estructura de cinturones reforzados y su cascara robusta
                          </div>
                          <div class="img_otra_not">
                              <img src="../images/diseno/05-novedades/min1.jpg"/>
                          </div>
                          <div class="btn_otra_nov_destacada">Ver más</div>
                      </a>
                      
                      <a href="" class="cont_otra_not">
                          <div class="titulo_otra_not">Lorem Ipsum es simplemente el texto de relleno</div>
                          <div class="txt_otra_not">
                              Llanta que permite el reencauche gracias a su sólida estructura de cinturones reforzados y su cascara robusta
                          </div>
                          <div class="img_otra_not">
                              <img src="../images/diseno/05-novedades/min1.jpg"/>
                          </div>
                          <div class="btn_otra_nov_destacada">Ver más</div>
                      </a>
                  </div>
                  
                  <section class="LineasProd">
                      <h3 class="LineasProd-title">	LÍNEAS DE PRODUCTO</h3>
                      <div class="LineasProd-borde"></div>
                      <div class="LineasProd-list">
                        <figure class="LineasProd-imageContainer"><img src="../images/auto.jpg" class="LineasProd-image">
                          <div class="LineasProd-shadow">
                            <div class="LineasProd-shadowText"><a href="#" class="LineasProd-button"><span class="LineasProd-buttonText">	AUTOMÓVIL</span><span class="icon-chevron-thin-right LineasProd-buttonIcon"></span></a></div>
                          </div>
                        </figure>
                        <figure class="LineasProd-imageContainer"><img src="../images/taxi.jpg" class="LineasProd-image">
                          <div class="LineasProd-shadow">
                            <div class="LineasProd-shadowText"><a href="#" class="LineasProd-button"><span class="LineasProd-buttonText">	TAXI</span><span class="icon-chevron-thin-right LineasProd-buttonIcon"></span></a></div>
                          </div>
                        </figure>
                        <figure class="LineasProd-imageContainer"><img src="../images/camion.jpg" class="LineasProd-image">
                          <div class="LineasProd-shadow">
                            <div class="LineasProd-shadowText"><a href="#" class="LineasProd-button"><span class="LineasProd-buttonText">	CAMION</span><span class="icon-chevron-thin-right LineasProd-buttonIcon"></span></a></div>
                          </div>
                        </figure>
                      </div>
                    </section>
                
                  
            </div> 
        </div>   
              
      <div class="Chat">
          <a href="" class="Chat-button">
              <span class="Chat-icon icon-chat"></span>
              <span class="Chat-text">	CHAT ONLINE</span>
           </a>
        </div>
    </div>
    
    <script type="text/javascript" src="../js/app.js"></script>
    <script text="" javascript="" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="../js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="../js/functions.js"></script>
  
    <script>//<![CDATA[
    document.write('<script src="//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1"><\/script>')
    //]]></script><script src="//192.168.1.154:35729/livereload.js?snipver=1"></script>
           
          
</body>
</html>




