#cuerpo-internas
  .u-centrar
    .cont-gen-titulos-internas
      .titulos-internas
        span NOVEDADES - TIPS
    .cont_gen_nov_destacadas
      a.cont_not_destacada(href='')
        .titulo_nov_destacada Lorem Ipsum es simplemente el texto de relleno
        .img_not_destacada
          img(src='../images/diseno/05-novedades/1.jpg')
        .txt_nov_destacada
          | Llanta que permite el reencauche gracias a su sólida estructura de Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño....
        .btn_nov_destacada Ver más
      a.cont_not_destacada(href='')
        .titulo_nov_destacada Lorem Ipsum es simplemente el texto de relleno
        .img_not_destacada
          img(src='../images/diseno/05-novedades/2.jpg')
        .txt_nov_destacada
          | Llanta que permite el reencauche gracias a su sólida estructura de Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño....
        .btn_nov_destacada Ver más
    .cont-gen-titulos-internas
      .titulos-internas
        | otras 
        span NOticias
    .cont_gen_otras_not
      a.cont_otra_not(href='')
        .titulo_otra_not Lorem Ipsum es simplemente el texto de relleno
        .txt_otra_not
          | Llanta que permite el reencauche gracias a su sólida estructura de cinturones reforzados y su cascara robusta
        .img_otra_not
          img(src='../images/diseno/05-novedades/min1.jpg')
        span.Consejos-button
          span.Consejos-buttonText
            | VER MÁS
          span.Consejos-buttonIcon.icon-chevron-thin-right
        //- .btn_otra_nov_destacada Ver más
      a.cont_otra_not(href='')
        .titulo_otra_not Lorem Ipsum es simplemente el texto de relleno
        .txt_otra_not
          | Llanta que permite el reencauche gracias a su sólida estructura de cinturones reforzados y su cascara robusta
        .img_otra_not
          img(src='../images/diseno/05-novedades/min1.jpg')
        span.Consejos-button
          span.Consejos-buttonText
            | VER MÁS
          span.Consejos-buttonIcon.icon-chevron-thin-right
        //- .btn_otra_nov_destacada Ver más
      a.cont_otra_not(href='')
        .titulo_otra_not Lorem Ipsum es simplemente el texto de relleno
        .txt_otra_not
          | Llanta que permite el reencauche gracias a su sólida estructura de cinturones reforzados y su cascara robusta
        .img_otra_not
          img(src='../images/diseno/05-novedades/min1.jpg')
        span.Consejos-button
          span.Consejos-buttonText
            | VER MÁS
          span.Consejos-buttonIcon.icon-chevron-thin-right
        //- .btn_otra_nov_destacada Ver más
    section.LineasProd
      h3.LineasProd-title 	LÍNEAS DE SERVICIO
      .LineasProd-borde
      .LineasProd-list
        figure.LineasProd-imageContainer
          img.LineasProd-image(src='../images/auto.jpg')
          .LineasProd-shadow
            .LineasProd-shadowText
              a.LineasProd-button(href='#')
                span.LineasProd-buttonText 	AUTOMÓVIL
                span.icon-chevron-thin-right.LineasProd-buttonIcon
        figure.LineasProd-imageContainer
          img.LineasProd-image(src='../images/taxi.jpg')
          .LineasProd-shadow
            .LineasProd-shadowText
              a.LineasProd-button(href='#')
                span.LineasProd-buttonText 	TAXI
                span.icon-chevron-thin-right.LineasProd-buttonIcon
        figure.LineasProd-imageContainer
          img.LineasProd-image(src='../images/camion.jpg')
          .LineasProd-shadow
            .LineasProd-shadowText
              a.LineasProd-button(href='#')
                span.LineasProd-buttonText 	CAMION
                span.icon-chevron-thin-right.LineasProd-buttonIcon