.AsideMenu
	background-color $dark_gray
	display inline-block
	width 100%
/*Tablet*/
// @media (min-width: 768px)
// 	.AsideMenu
// 		float left
// 		max-width 437px

@media (min-width: 840px)
	.AsideMenu
		float left
		min-width 388px
		max-width 410px
		// width 405px
		width 50%
		margin-left 2%
@media (min-width: 960px)
	.AsideMenu
		margin-left 2%		
@media (min-width: 1100px)
	.AsideMenu
		width 405px

@media (min-width: 1280px)
	.AsideMenu
		width 405px
		margin-left 40px
@media (min-width: 1480px)
	.AsideMenu
		width 100%
		max-width 430px
		min-height 547px
		margin-left 0	